@use '@/scss/underscore' as _;
@use '@logto/core-kit/scss/fonts';
@use '@logto/core-kit/scss/console-themes' as themes;

.app {
  .card {
    background: var(--color-layer-1);
    border-radius: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 640px;
    height: 640px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 20px;

    img {
      margin-top: _.unit(25);
      width: 120px;
      height: 120px;
    }

    .title {
      margin-top: _.unit(6);
      color: var(--color-neutral-10);
      font: var(--font-title-medium);
    }

    .text {
      margin-top: _.unit(1);
      font: var(--font-body-medium);
      color: var(--color-caption);
    }

    .infoCard {
      margin-top: _.unit(4);
      padding: _.unit(4);
      font: var(--font-body-medium);
      color: var(--color-text);
      background: var(--color-layer-2);
      border-radius: 8px;
      width: 400px;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      span {
        font: var(--font-label-large);
      }

      div + div {
        margin-top: _.unit(2.5);
      }
    }

    .button {
      user-select: none;
      margin-top: _.unit(8);
      border: 1px solid var(--color-outline);
      border-radius: 8px;
      padding: _.unit(3) _.unit(6);
      font: var(--font-button);
      color: var(--color-text);
      transition: background ease-in-out 0.2s;

      &:hover {
        cursor: pointer;
        background: var(--color-hover);
      }

      &:focus {
        outline: 3px solid var(--color-focused-variant);
      }
    }

    .continue {
      margin-top: _.unit(12);
      display: flex;
      align-items: center;
      column-gap: _.unit(4);
      color: var(--color-caption);

      .hr {
        width: 110px;
        border-top: 1px solid var(--color-divider);
      }
    }

    .actions {
      display: flex;
      align-items: center;
      margin-top: _.unit(5);

      span {
        opacity: 60%;
        height: 12px;
        width: 1px;
        background: var(--color-primary);
        margin: 0 _.unit(4);
        border-radius: 1px;
      }

      a {
        color: var(--color-primary);
        text-decoration: none;
        padding: _.unit(0.5) _.unit(1);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  body {
    @include themes.light;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include themes.dark;
  }
}
