@use '@/scss/underscore' as _;
@use '@logto/core-kit/scss/fonts';
@use '@logto/core-kit/scss/console-themes' as themes;

.app {
  input {
    background-color: var(--color-layer-1);
    font: var(--font-body-2);
    color: var(--color-text);
    padding: 0 _.unit(3);
    height: 36px;
    border: 1px solid var(--color-border);
    outline: 3px solid transparent;
    border-radius: 6px;
  }

  .button {
    display: inline-block;
    user-select: none;
    border: 1px solid var(--color-border);
    background-color: var(--color-layer-1);
    border-radius: 8px;
    padding: _.unit(3) _.unit(6);
    font: var(--font-label-2);
    color: var(--color-text);
    transition: background ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      background: var(--color-hover);
    }

    &:focus {
      outline: 3px solid var(--color-focused-variant);
    }
  }


  .card {
    background: var(--color-layer-1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;

    .title {
      color: var(--color-neutral-10);
      font: var(--font-title-2);
    }

    .text {
      font: var(--font-body-2);
      color: var(--color-text-secondary);
    }

    &.congrats {
      position: absolute;
      left: 50%;
      top: 50%;
      align-items: center;
      text-align: center;
      width: 640px;
      height: 640px;
      transform: translate(-50%, -50%);

      .title {
        margin-top: _.unit(6);
      }

      .text {
        margin-top: _.unit(1);
      }

      .button {
        margin-top: _.unit(8);
      }
    }

    &.devPanel {
      max-width: 800px;
      width: 25vw;
      position: fixed;
      left: _.unit(2);
      top: _.unit(2);
      padding: _.unit(4);
      gap: _.unit(3);

      .item {
        margin: _.unit(2) 0;
        display: flex;
        flex-direction: column;
        gap: _.unit(1);
      }

      .button {
        align-self: flex-end;
      }

      .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    img {
      margin-top: _.unit(25);
      width: 120px;
      height: 120px;
    }

    .infoCard {
      margin-top: _.unit(4);
      padding: _.unit(4);
      font: var(--font-body-2);
      color: var(--color-text);
      background: var(--color-layer-2);
      border-radius: 8px;
      width: 400px;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      span {
        font: var(--font-label-2);
      }

      div + div {
        margin-top: _.unit(2.5);
      }
    }


    .continue {
      margin-top: _.unit(12);
      display: flex;
      align-items: center;
      column-gap: _.unit(4);
      color: var(--color-text-secondary);

      .hr {
        width: 110px;
        border-top: 1px solid var(--color-divider);
      }
    }

    .actions {
      display: flex;
      align-items: center;
      margin-top: _.unit(5);

      span {
        opacity: 60%;
        height: 12px;
        width: 1px;
        background: var(--color-primary);
        margin: 0 _.unit(4);
        border-radius: 1px;
      }

      a {
        color: var(--color-primary);
        text-decoration: none;
        padding: _.unit(0.5) _.unit(1);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.error {
  color: var(--color-neutral-10);
  margin: _.unit(3);
}

@media (prefers-color-scheme: light) {
  body {
    @include themes.light;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include themes.dark;
  }
}
