@use '@/scss/underscore' as _;

.card {
  display: flex;
  flex-direction: column;
  padding: _.unit(6);
  gap: _.unit(6);
}

.title {
  font: var(--font-title-1);
  color: var(--color-text);
}

.borderBox {
  display: flex;
  align-items: center;
  padding: _.unit(6) _.unit(8);
  border: 1px solid var(--color-divider);
  border-radius: 16px;
  gap: _.unit(6);
}

.iconWrapper {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.heading {
  font: var(--font-title-2);
  color: var(--color-text);
}

.description {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin-top: _.unit(1);
}
