@use '@/scss/underscore' as _;

.container {
  position: absolute;
  inset: -0.4px -2px 0;
  pointer-events: none;

  .border,
  .outline {
    text-align: left;
    position: absolute;
    inset: -10px 0 -0.5px;
    border: _.border(var(--color-line-border));
    border-radius: var(--radius);
    pointer-events: none;
    display: block;
    transition-property: outline, border;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;

    legend {
      display: inline-block;
      visibility: hidden;
      // To keep the label in the middle of the empty space
      margin-left: 1px;
      padding: 0;
      // fix to the label font height to keep space for the input container
      height: 20px;
      // Set to 0 to avoid the empty space in the top border
      width: 0;

      span {
        padding: 0 _.unit(1);
        opacity: 0%;
        visibility: hidden;
        display: inline-block;
        font: var(--font-body-3);
      }
    }
  }

  .outline {
    display: none;
    inset: -11.5px -2px -2.5px;
    border-radius: 10px;
    border: 3px outset var(--color-overlay-brand-focused);
  }

  .label {
    position: absolute;
    left: _.unit(3.5);
    font: var(--font-body-1);
    color: var(--color-type-secondary);
    pointer-events: none;
    top: 48%;
    transform: translateY(-50%);
    transition: 0.2s ease-out;
    transition-property: position, font, top, color;
    background-color: transparent;
    padding: 0 _.unit(1);
    z-index: 1;
  }

  &.active {
    .border,
    .outline {
      legend {
        visibility: visible;
        width: auto;
      }
    }

    .label {
      top: -1px;
      font: var(--font-body-3);
      color: var(--color-type-secondary);
    }
  }

  &.focused {
    .border {
      border-color: var(--color-brand-default);
    }

    .label {
      color: var(--color-brand-default);
    }
  }
}


.container.danger {
  .border {
    border-color: var(--color-danger-default);
  }

  .outline {
    border-color: var(--color-overlay-danger-focused);
  }

  &.active {
    .label {
      color: var(--color-danger-default);
    }
  }
}

.container.noLabel {
  .border,
  .outline {
    legend {
      width: 0;
    }
  }
}

:global(body.desktop) {
  .container {
    &:not(.active) {
      .label {
        font: var(--font-body-2);
      }
    }

    &.focused {
      .outline {
        display: block;
      }
    }
  }
}
