@use '@/scss/underscore' as _;


.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
  }

  > * {
    &:first-child {
      margin-right: _.unit(3);
      flex: 9;
    }

    &:last-child {
      flex: 7;
    }
  }
}

.submitActionBar {
  &.overwrite {
    margin-top: 0;
  }
}
