@use '@/scss/underscore' as _;

.navBar {
  width: 100%;
  min-height: 44px;
  @include _.flex-row;
  justify-content: center;
  padding: _.unit(3) _.unit(10);
  position: relative;

  .backBtn {
    position: absolute;
    left: _.unit(-2);
    top: 50%;
    transform: translateY(-50%);
    color: --color-text;
    font: var(--font-caption);
    @include _.flex-row;
    cursor: pointer;
  }

  svg {
    fill: currentColor;
    margin-right: _.unit(2);
  }

  .title {
    font: var(--font-body-bold);
  }
}
