@use '@/scss/underscore' as _;


.numericInput {
  // From Figma design
  max-width: 200px;
}

.fieldDescription {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin: _.unit(1) 0 _.unit(2);
}
