@use '@/scss/underscore' as _;

.form {
  @include _.flex-column;

  > * {
    width: 100%;
  }

  .inputField,
  .terms,
  .switch {
    margin-bottom: _.unit(4);
  }

  .switch {
    align-self: start;
    width: auto;
  }

  .formErrors {
    margin-top: _.unit(-2);
    margin-bottom: _.unit(4);
  }
}
