@use '@/scss/underscore' as _;

.socialIconList {
  @include _.flex-row;
  @include _.mobile-container-width;
  justify-content: center;
  margin: 0 auto;

  .socialButton {
    margin-right: _.unit(8);

    &:last-child {
      margin-right: 0;
    }
  }

  .moreButton {
    border-radius: 50%;
  }
}

.socialLinkList {
  margin: 0 auto;
  @include _.flex-column;
  @include _.mobile-container-width;

  .socialLinkButton {
    margin-bottom: _.unit(4);
  }

  .expandIcon {
    width: 20px;
    height: 20px;

    &.expanded {
      transform: rotate(180deg);
    }
  }
}
