@use '@/scss/underscore' as _;

.socialIconList {
  width: 100%;
  max-width: 360px;
  @include _.flex-row;
  justify-content: center;

  .socialButton {
    margin-right: _.unit(10);

    &:last-child {
      margin-right: 0;
    }
  }
}

.socialLinkList {
  width: 100%;
  max-width: 360px;
  @include _.flex-column;
  margin: 0 auto;

  .socialLinkButton {
    margin-bottom: _.unit(4);
  }
}
