@use '@/scss/underscore' as _;

.socialIconList {
  @include _.flex-row;
  justify-content: center;
}

.socialButton {
  margin-right: _.unit(8);

  &:last-child {
    margin-right: 0;
  }
}

.moreButton {
  border-radius: 50%;
  @include _.flex-column;

  > svg {
    color: var(--color-icon);
  }
}

:global(body.mobile) {
  .moreButton {
    > svg {
      width: 48px;
      height: 48px;
    }
  }
}


:global(body.desktop) {
  .moreButton {
    > svg {
      width: 28px;
      height: 28px;
    }
  }
}
