@use '@/scss/underscore' as _;
@use '@/scss/colors' as colors;
@use '@/scss/basic' as basic;

/* Foundation */
.light {
  @include colors.light-theme;
}

.dark {
  @include colors.dark-theme;
}

body {
  @include colors.universal;
  @include basic.fonts;
  @include basic.layout;
  background: var(--color-base);
  color: var(--color-text);
  font: var(--font-body);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background: var(--color-base);
}
