@use '@/scss/underscore' as _;

.content {
  position: absolute;
  inset: 0;
  background: var(--color-background);
  color: var(--color-font-primary);
}

.universal {
  /* ===== Legacy Styling ===== */
  /* Color */
  --color-button-background: #3c4ce3;
  --color-button-background-disabled: #626fe8;
  --color-button-background-hover: #2234df;
  --color-button-text: #f5f5f5;
  --color-button-text-disabled: #eee;
  --color-error: #ea0000;
  --color-error-background: #{rgba(#ff6b66, 0.15)};
  --color-error-border: #{rgba(#ff6b66, 0.35)};

  /* Shadow */
  --shadow-button: 2px 2px 8px rgb(60, 76, 227, 25%);

  /* Transition */
  --transition-default-function: 0.2s ease-in-out;
  --transition-default-control:
    background var(--transition-default-function),
    color var(--transition-default-function);
}

.dark {
  /* ===== Legacy Styling ===== */
  /* Color */
  --color-heading: #f3f6f9;
  --color-body: #dadae0;
  --color-secondary: #b3b7ba;
  --color-placeholder: #888;
  --color-control-background: #45484a;
  --color-control-background-disabled: #65686a;
  --color-background: #101419;

  /* Shadow */
  --shadow-card: 2px 2px 24px rgb(59, 61, 63, 25%);
  --shadow-control: 1px 1px 2px rgb(221, 221, 221, 25%);
}

.light {
  /* Color */
  --color-primary: #6139f6;
  --color-primary-tint-70: #b09bfa;
  --color-gradient: linear-gradient(69.73deg, #492ef3 5.52%, #cf69ff 94.22%);
  --color-background: #fdfdff;
  --color-control-background: #f4f4f4;
  --color-control-focus: #{rgba(#a48dfa, 0.8)};

  --color-neutral-100: #111;
  --color-neutral-90: #666;
  --color-neutral-70: #999;
  --color-neutral-50: #aeaeae;
  --color-neutral-30: #d8d8d8;
  --color-neutral-10: #f4f4f4;
  --color-neutral-0: #fff;

  /* Font Color */
  --color-font-primary: #111;
  --color-font-secondary: #444;
  --color-font-tertiary-1: #777;
  --color-font-tertiary-2: #999;
  --color-font-tertiary-3: #aaa;

  /* ===== Legacy Styling ===== */
  --color-heading: #333;
  --color-body: #555;
  --color-secondary: #888;
  --color-placeholder: #aaa;
  --color-control-background-disabled: #eaeaea;

  /* Shadow */
  --shadow-card: 2px 2px 24px rgb(187, 189, 191, 20%);
  --shadow-control: 1px 1px 2px rgb(221, 221, 221, 25%);
}

$font-family: 'PingFang SC', 'SF Pro Text', sans-serif;

.mobile {
  --font-title: 600 32px/40px #{$font-family};
  --font-heading-2: 400 18px/22px #{$font-family};
  --font-heading-2-bold: 600 18px/22px #{$font-family};
  --font-control: 500 18px/22px #{$font-family};

  /* ===== Legacy Styling ===== */
  --font-headline: 600 40px/56px #{$font-family};
  --font-heading-1: 600 28px/39px #{$font-family};
  --font-heading-3: 600 16px/22.4px #{$font-family};
  --font-body: 400 12px/16px #{$font-family};
  --font-body-bold: 500 12px/16px #{$font-family};
}
