@use '@/scss/underscore' as _;

.terms {
  @include _.flex-row;
  width: 100%;

  input[type='checkbox'] {
    appearance: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
  }
}

.radioButton {
  margin-right: _.unit(2);
  fill: var(--color-icon);
}

.content {
  @include _.text-hint;

  .link {
    @include _.text-hint;
  }
}

.errorMessage {
  margin-top: _.unit(2);
}
