@use '@/scss/underscore' as _;

.form {
  @include _.mobile-container-width;
  @include _.flex-column;
  margin: 0 auto;

  > * {
    width: 100%;
  }

  .inputField {
    margin-bottom: _.unit(4);
  }

  .confirmPassword > * {
    border: _.border();
  }

  .terms {
    margin: _.unit(8) 0 _.unit(4);
  }
}
