@use '@/scss/underscore' as _;

.cardContent {
  display: flex;
  flex-direction: column;
  gap: _.unit(3);
}

.error {
  margin-bottom: _.unit(2);
}

.groupFields {
  display: flex;
  flex-direction: column;
  gap: _.unit(3);
}

.fieldRow {
  justify-content: space-between;
  display: flex;
  gap: _.unit(6);
  align-items: center;
  border: 1px solid var(--color-neutral-90);
  border-radius: _.unit(2);
  padding: _.unit(4);
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  gap: _.unit(1);
}

.fieldName {
  font: var(--font-body-2);
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: _.unit(1);
}

.fieldControl {
  min-width: 160px;
  display: flex;
  justify-content: flex-end;
}

.statusLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: _.unit(6);
  margin-bottom: _.unit(1);
}

.tipIcon {
  display: flex;
  align-items: center;
}

.description {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
}

.notice {
  margin: _.unit(2) 0;
}
