/packages/schemas/tables @simeng-li @wangsijie @gao-sun
/packages/core @simeng-li @wangsijie @gao-sun
/packages/console @wangsijie @charIeszhao
/packages/ui @simeng-li @charIeszhao
/.changeset @gao-sun
