@use '@/scss/underscore' as _;

.selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: _.unit(4);
}

.option {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  min-height: 80px;
  padding: _.unit(5);
  font: var(--font-label-2);
  cursor: pointer;
  user-select: none;
  background-color: var(--color-layer-1);
  color: var(--color-text);
  display: flex;
  align-items: center;

  .icon {
    color: var(--color-text-secondary);
    margin-right: _.unit(4);
    vertical-align: middle;

    > svg {
      display: block;
    }
  }

  .content {
    .tag {
      font: var(--font-body-3);
      color: var(--color-text-secondary);
    }

    .trailingTag {
      margin-left: _.unit(1);
    }
  }

  &.selected {
    border-color: var(--color-primary);
    background-color: var(--color-hover-variant);
    color: var(--color-text-link);

    .icon {
      color: var(--color-primary);
    }
  }

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-text-link);

    .icon {
      color: var(--color-primary);
    }
  }
}

