DB_URL=postgresql://user:password@localhost:5432/logto

LOGTO_ENDPOINT=http://localhost:3001

APP_ID= # only for migration import.ts script with Management API M2M
APP_SECRET= # only for migration import.ts script with Management API M2M
API_INDICATOR=https://default.logto.app/api # only for migration import.ts script with Management API M2M