# This compose file is for demonstration only, do not use in prod.
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: ["sh", "-c", "npm run cli db seed -- --swe && npm start"]
    ports:
      - 3001:3001
      - 3002:3002
    environment:
      - TRUST_PROXY_HEADER=1
      - DB_URL=${DB_URL}
      - ENDPOINT=${ENDPOINT}
      - ADMIN_ENDPOINT=${ADMIN_ENDPOINT}
    volumes:
      - ./packages/cli/alteration-scripts:/etc/logto/packages/cli/alteration-scripts
      - /opt/do/certs/userdb-ca-certificate.crt:/certs/ca-certificate.crt:ro
