@use '@/scss/underscore' as _;

.form {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  @include _.flex-column;

  > * {
    width: 100%;
  }

  .inputField {
    margin-bottom: _.unit(11);

    &.withError {
      margin-bottom: _.unit(9);
    }
  }

  .terms {
    margin-bottom: _.unit(6);
  }
}
