@use '@/scss/underscore' as _;

.form {
  margin: 0 auto;
  @include _.flex-column;
  @include _.mobile-container-width;

  > * {
    width: 100%;
  }

  .inputField {
    margin-bottom: _.unit(12);
  }

  .terms {
    margin-bottom: _.unit(4);
  }
}
