@use '@/scss/underscore' as _;

.pagination {
  margin-top: _.unit(4);
}

.clickable {
  @include _.clickable-tr;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  object-fit: cover;
  flex-shrink: 0;
}

.userName {
  width: 360px;
  font: var(--font-body-medium);
}
