@use '@experience/shared/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  gap: _.unit(4);
  width: 100%;
  max-width: _.unit(100);
}

.identifierInput {
  width: 100%;
}

.codeInput {
  width: 100%;
}

.message {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  min-height: _.unit(5);
  display: flex;
  align-items: center;
}

.resendButton {
  background: transparent;
  border: none;
  padding: 0;
  font: var(--font-body-2-medium);
  color: var(--color-primary-50);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    color: var(--color-text-secondary);
  }
}

.submit {
  align-self: flex-start;
}
