@use '@/scss/underscore' as _;

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: _.unit(3);
  min-height: 0;

  > * {
    min-height: 0;

    &:first-child {
      margin-inline-end: _.unit(3);
      flex: 9;
    }

    &:last-child {
      flex: 7;
      min-width: 0;
    }
  }
}

.submitActionBar {
  &.overwrite {
    margin-top: 0;
  }
}
