@use '@/scss/underscore' as _;

.container {
  display: inline-block;
  border-radius: 6px;
  color: var(--color-text);
  font: var(--font-body-medium);
  font-family: 'Roboto Mono', monospace;
  cursor: default;

  &.contained,
  &.border {
    padding: _.unit(2) _.unit(3);
    background: var(--color-layer-2);
  }

  &.border {
    border: 1px solid var(--color-border);
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: text;

    > svg {
      margin-left: _.unit(3);
      cursor: pointer;
      fill: var(--color-icon);
    }
  }

  &.icon {
    .row {
      > svg {
        fill: rgba(#fff, 0.8);

        &:hover {
          fill: #fff;
        }
      }
    }
  }
}

.successfulTooltip {
  background-color: var(--color-success-60);
}
