@use '@/scss/underscore' as _;

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-bottom: _.unit(6);

  > :not(:first-child) {
    margin-top: _.unit(4);
  }

  .main {
    padding-bottom: _.unit(4);
  }
}
