@use '@/scss/underscore' as _;

.status {
  display: flex;
  align-items: center;
  gap: _.unit(2);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-success-60);
}

.valueIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 8px;
  vertical-align: middle;
}
