@use '@/scss/underscore' as _;

td > div.loading {
  display: flex;
  background: none;
  height: 50px;
  border-radius: unset;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: _.unit(2);
    margin-right: _.unit(4);
    background: var(--color-neutral-95);
  }

  .content {
    flex: 1;

    .title {
      background: var(--color-neutral-95);
      border-radius: _.unit(2);
      height: 16px;
      margin: _.unit(2) 0;
    }

    .subTitle {
      background: var(--color-neutral-95);
      border-radius: _.unit(2);
      height: 12px;
    }
  }
}
