@use '@/scss/underscore' as _;

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  table {
    border: none;
  }

  .filter {
    border-bottom: 1px solid var(--color-divider);
    background-color: var(--color-layer-1);
    border-radius: 12px 12px 0 0;
    padding: _.unit(3);
  }

  .headerTable {
    background-color: var(--color-layer-1);
    border-radius: 12px 12px 0 0;

    &.hideTopBorderRadius {
      border-radius: 0;
    }
  }

  .bodyTable {
    overflow-y: auto;
    padding-bottom: _.unit(2);
    background-color: var(--color-layer-1);
    border-radius: 0 0 12px 12px;

    tr {
      &:last-child {
        td {
          border-bottom: unset;
        }
      }
    }
  }
}
