@use '@/scss/underscore' as _;

.container {
  background-color: var(--color-layer-1);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  table {
    border: none;
  }

  .bodyTable {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: _.unit(2);

    tr {
      &:last-child {
        td {
          border-bottom: unset;
        }
      }
    }
  }
}
