@use '@/scss/underscore' as _;

.tableEmpty {
  padding: _.unit(4) 0;
  text-align: center;

  .title {
    font: var(--font-subhead-2);
    margin-bottom: _.unit(2);
  }

  .content {
    font: var(--font-body-medium);
    color: var(--color-neutral-50);
    margin-bottom: _.unit(2);
  }
}
