@use '@/scss/underscore' as _;

.backLink {
  margin: _.unit(1) 0 0 _.unit(1);
}

.header {
  padding: _.unit(6);
  display: flex;
  align-items: center;
  justify-content: space-between;

  > *:not(:first-child) {
    margin-left: _.unit(6);
  }

  .imagePlaceholder {
    margin-left: _.unit(2);
  }

  .logo {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 16px;
  }

  .operations {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: _.unit(2);
    }
  }

  .metadata {
    flex: 1;

    > div {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: _.unit(2);
      }

      > *:not(:first-child) {
        margin-left: _.unit(2);
      }
    }

    .name {
      font: var(--font-title-large);
      color: var(--color-text);
    }

    .id {
      font: var(--font-subhead-2);
      color: var(--color-caption);
    }
  }
}

.body {
  > :not(:first-child) {
    margin-top: _.unit(4);
  }

  .main {
    flex: 1;
  }
}
