@use '@/scss/underscore' as _;

.content {
  background: var(--color-layer-1);
  box-shadow: var(--shadow-2);
  border-radius: _.unit(2);
  position: absolute;

  &.onTop {
    box-shadow: var(--shadow-2-reversed);
  }

  &:focus {
    outline: none;
  }
}

.title {
  padding: _.unit(4) _.unit(3) 0 _.unit(3);
  font: var(--font-subhead-cap-small);
  color: var(--color-caption);
}

.overlay {
  background: transparent;
  position: fixed;
  inset: 0;
}

.list {
  margin: 0;
  padding: _.unit(2) _.unit(1);
}
