@mixin color {
  --color-code-bg: #181133;
  --color-code-white: #f7f8f8;
  --color-code-grey: #adaab4;
  --color-code-tab-active-bg: rgba(255, 255, 255, 24%);
}

@mixin font {
  --font-code: 500 14px/20px 'Roboto Mono', monospace;
}
