@function unit($factor: 1, $unit: 'px') {
  @return #{$factor * 4}#{$unit};
}

@mixin flex-colomn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
