@use '@/scss/dimensions' as dim;
@use 'sass:string';

@function unit($factor: 1) {
  @return #{$factor * 4}px;
}

@mixin main-content-width {
  max-width: 1300px;
  min-width: 560px;
  margin: 0 auto;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin form-text-field {
  width: 100%;
}

@mixin vertical-bar {
  border-left: 1px solid var(--color-border);
  width: 0;
}

@mixin section-head-1 {
  color: var(--color-text-secondary);
  font: var(--font-section-head-1);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin section-head-2 {
  @include section-head-1;
  font: var(--font-section-head-2);
}

@mixin rotating-animation {
  animation: rotating 1s ease-in-out infinite;
}

@mixin shimmering-animation($baseColor: var(--color-layer-2)) {
  background-color: $baseColor;
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image:
      linear-gradient(
        90deg,
        rgba(var(--color-skeleton-shimmer-rgb), 0) 0,
        rgba(var(--color-skeleton-shimmer-rgb), 0.2) 20%,
        rgba(var(--color-skeleton-shimmer-rgb), 0.5) 60%,
        $baseColor
      );
    animation: shimmer 2s infinite;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@mixin multi-line-ellipsis($line) {
  // https://css-tricks.com/almanac/properties/l/line-clamp/
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

$allowed-z-indexes: (
  base: 0,
  front: 1,
  behind: -1,
  modal-backdrop: 100,
  modal: 101,
  confirm-modal: 102,
  dropdown: 199,
  tooltip: 200,
);

@mixin z-index($index) {
  @if map-has-key($allowed-z-indexes, $index) {
    z-index: map-get($allowed-z-indexes, $index);
  }
  @else {
    @error 'Invalid z-index value. Allowed values are #{map-keys($allowed-z-indexes)}';
  }
}

@function inkeep-logto-icon($color) {
  $encoded-color: '%23' + string.slice('#{$color}', 2, -1);
  @return url('data:Image/svg+xml;charset=utf-8,<svg width="65" height="20" viewBox="0 0 65 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.33025 3.98256C1.33025 3.47976 1.33025 3.22835 1.42749 3.026C1.51319 2.84767 1.65101 2.69653 1.82454 2.59058C2.02145 2.47036 2.28325 2.43467 2.80684 2.36329L10.2742 1.34537C10.952 1.25298 11.2909 1.20678 11.5543 1.30432C11.7855 1.38995 11.9784 1.54893 12.1004 1.75431C12.2393 1.98828 12.2393 2.31374 12.2393 2.96464V17.0354C12.2393 17.6863 12.2393 18.0117 12.1004 18.2457C11.9784 18.4511 11.7855 18.6101 11.5543 18.6957C11.2909 18.7932 10.952 18.747 10.2743 18.6546L10.2742 18.6546L10.2742 18.6546L2.80684 17.6367C2.28325 17.5653 2.02145 17.5296 1.82454 17.4094C1.65101 17.3035 1.51319 17.1523 1.42749 16.974C1.33025 16.7716 1.33025 16.5202 1.33025 16.0174V3.98256ZM9.33025 8.72682C9.33025 8.57371 9.33025 8.49715 9.35589 8.43664C9.37848 8.38334 9.4147 8.33881 9.45994 8.30874C9.51131 8.27459 9.57923 8.26766 9.71508 8.2538L10.3233 8.19173C10.4834 8.1754 10.5634 8.16723 10.6252 8.19719C10.6795 8.22351 10.7243 8.2695 10.7526 8.32779C10.7848 8.39415 10.7848 8.48435 10.7848 8.66475V11.3353C10.7848 11.5156 10.7848 11.6058 10.7526 11.6722C10.7243 11.7305 10.6795 11.7765 10.6252 11.8028C10.5634 11.8328 10.4834 11.8246 10.3233 11.8083L9.71508 11.7462C9.57923 11.7323 9.51131 11.7254 9.45994 11.6913C9.4147 11.6612 9.37848 11.6167 9.35589 11.5634C9.33025 11.5029 9.33025 11.4263 9.33025 11.2732V8.72682ZM14.2919 3.07292H13.3302V17.2917H14.2919C14.8463 17.2917 15.1235 17.2917 15.3352 17.1832C15.5215 17.0878 15.6729 16.9355 15.7678 16.7482C15.8757 16.5353 15.8757 16.2566 15.8757 15.6992V4.66542C15.8757 4.10799 15.8757 3.82928 15.7678 3.61637C15.6729 3.42909 15.5215 3.27682 15.3352 3.1814C15.1235 3.07292 14.8463 3.07292 14.2919 3.07292Z" fill="#{$encoded-color}" /><path d="M32.0486 15.3334C31.1946 15.3334 30.4571 15.1555 29.8361 14.7996C29.215 14.4438 28.7381 13.949 28.4054 13.3152C28.0727 12.6703 27.9064 11.9253 27.9064 11.0803C27.9064 10.213 28.0783 9.46245 28.4221 8.82865C28.7659 8.19486 29.2483 7.70006 29.8694 7.34424C30.5015 6.98843 31.239 6.81052 32.0819 6.81052C32.9358 6.81052 33.6678 6.98843 34.2777 7.34424C34.8988 7.70006 35.3812 8.19486 35.725 8.82865C36.0688 9.46245 36.2407 10.2074 36.2407 11.0636C36.2407 11.9087 36.0633 12.6536 35.7084 13.2986C35.3646 13.9435 34.8822 14.4438 34.2611 14.7996C33.6401 15.1443 32.9025 15.3222 32.0486 15.3334ZM32.0652 13.7155C32.531 13.7155 32.9303 13.5988 33.263 13.3653C33.5957 13.1318 33.8508 12.8149 34.0282 12.4146C34.2167 12.0143 34.311 11.564 34.311 11.0636C34.311 10.5521 34.2223 10.0962 34.0448 9.69595C33.8674 9.29566 33.6123 8.98432 33.2796 8.76194C32.9469 8.52843 32.5477 8.41168 32.0819 8.41168C31.6383 8.41168 31.2445 8.52843 30.9008 8.76194C30.557 8.99544 30.2908 9.31234 30.1022 9.71263C29.9248 10.1129 29.8305 10.5632 29.8194 11.0636C29.8194 11.5751 29.9082 12.031 30.0856 12.4313C30.2631 12.8316 30.5237 13.1484 30.8675 13.382C31.2113 13.6043 31.6105 13.7155 32.0652 13.7155Z" fill="#{$encoded-color}" /><path d="M44.9534 7.11436C44.9534 7.0663 44.9145 7.02735 44.8666 7.02735H43.1603C43.1124 7.02735 43.0736 7.0663 43.0736 7.11436V15.6503C43.0736 16.2173 42.8628 16.5695 42.4414 16.8809C42.0311 17.1922 41.5695 17.294 40.9152 17.3051C40.4605 17.294 40.0339 17.2534 39.6568 17.1311C39.3031 17.0268 38.9161 16.8735 38.5125 16.6714C38.4685 16.6494 38.415 16.6677 38.3941 16.7123L37.7808 18.0229C37.7631 18.0608 37.7746 18.106 37.8091 18.1296C37.9962 18.2573 38.215 18.3713 38.4655 18.4718C38.7428 18.583 39.0256 18.6719 39.314 18.7387C39.6134 18.8165 39.9228 18.8814 40.1889 18.9148C40.4662 18.9481 40.728 18.9527 40.8943 18.9527C41.7372 18.9527 42.458 18.8192 43.0569 18.5524C43.6669 18.2855 44.1327 17.9075 44.4543 17.4182C44.787 16.929 44.9534 16.3452 44.9534 15.6669V7.11436ZM43.5952 12.6389C43.5698 12.5786 43.4895 12.5669 43.4466 12.6162C43.12 12.9927 42.7887 13.2593 42.4747 13.432C42.142 13.621 41.7594 13.7155 41.3268 13.7155C40.8832 13.7155 40.4951 13.6043 40.1624 13.382C39.8407 13.1484 39.5968 12.8316 39.4304 12.4313C39.264 12.031 39.1809 11.5695 39.1809 11.0469C39.1809 10.5466 39.264 10.1018 39.4304 9.71263C39.5968 9.31234 39.8407 8.99544 40.1624 8.76194C40.4951 8.52843 40.8888 8.41168 41.3435 8.41168C41.7649 8.41168 42.0976 8.50064 42.4414 8.67854C42.7624 8.83944 43.104 9.20687 43.3979 9.59062C43.4389 9.64408 43.5226 9.63413 43.5489 9.57206L44.021 8.4553C44.0325 8.42811 44.0295 8.39695 44.0127 8.37272C43.4171 7.51569 42.4095 6.81052 41.2623 6.81052C40.4306 6.81052 39.7742 6.98843 39.1642 7.34424C38.5543 7.70006 38.0829 8.19486 37.7502 8.82865C37.4286 9.46245 37.2678 10.2019 37.2678 11.0469C37.2678 11.9142 37.4286 12.6703 37.7502 13.3152C38.0718 13.949 38.5321 14.4438 39.131 14.7996C39.7409 15.1555 40.4618 15.3334 41.2936 15.3334C41.6041 15.3334 41.9257 15.2722 42.2584 15.1499C42.6022 15.0387 42.9349 14.8719 43.2565 14.6495C43.5643 14.4368 43.8364 14.1833 44.0731 13.8891C44.0929 13.8645 44.0973 13.8309 44.085 13.8017L43.5952 12.6389Z" fill="#{$encoded-color}" /><path d="M51.3863 7.18107C51.3863 7.13302 51.3474 7.09406 51.2995 7.09406H49.4435C49.3956 7.09406 49.3567 7.05511 49.3567 7.00705V4.7321C49.3567 4.68405 49.3179 4.64509 49.2699 4.64509H47.5803C47.5324 4.64509 47.4936 4.68405 47.4936 4.7321V7.00705C47.4936 7.05511 47.4547 7.09406 47.4068 7.09406H46.2765C46.2282 7.09406 46.1892 7.13358 46.1897 7.18199L46.2045 8.59245C46.205 8.64014 46.2437 8.67854 46.2913 8.67854H47.4068C47.4547 8.67854 47.4936 8.7175 47.4936 8.76555V12.6981C47.4936 13.2874 47.61 13.7878 47.8429 14.1992C48.0869 14.5995 48.4196 14.9053 48.841 15.1165C49.2625 15.3278 49.7726 15.4334 50.3715 15.4334C50.5378 15.4334 50.7153 15.4112 50.9038 15.3667C51.1034 15.3222 51.2963 15.2754 51.4627 15.2087C51.6112 15.1529 51.9006 15.0073 52.0481 14.9216C52.0873 14.8988 52.0995 14.849 52.0773 14.8094L51.3908 13.596C51.3692 13.5575 51.3224 13.5414 51.2812 13.5571C51.1703 13.5996 51.0556 13.6345 50.9371 13.6619C50.7929 13.6952 50.6487 13.7119 50.5046 13.7119C50.1164 13.7119 49.8281 13.6711 49.6395 13.4153C49.451 13.1484 49.3567 12.8093 49.3567 12.3979V8.76555C49.3567 8.7175 49.3956 8.67854 49.4435 8.67854H51.2995C51.3474 8.67854 51.3863 8.63959 51.3863 8.59153V7.18107Z" fill="#{$encoded-color}" /><path d="M56.3116 15.3292C55.4576 15.3292 54.7201 15.1513 54.0991 14.7955C53.478 14.4397 53.0011 13.9449 52.6684 13.3111C52.3357 12.6662 52.1694 11.9212 52.1694 11.0761C52.1694 10.2088 52.3413 9.45829 52.6851 8.8245C53.0289 8.19071 53.5113 7.6959 54.1323 7.34009C54.7645 6.98428 55.502 6.80637 56.3448 6.80637C57.1988 6.80637 57.9308 6.98428 58.5407 7.34009C59.1618 7.6959 59.6442 8.19071 59.988 8.8245C60.3318 9.45829 60.5037 10.2033 60.5037 11.0595C60.5037 11.9045 60.3263 12.6495 59.9714 13.2944C59.6276 13.9393 59.1451 14.4397 58.5241 14.7955C57.903 15.1402 57.1655 15.3181 56.3116 15.3292ZM56.3282 13.7114C56.794 13.7114 57.1933 13.5946 57.526 13.3611C57.8587 13.1276 58.1138 12.8107 58.2912 12.4104C58.4797 12.0101 58.574 11.5598 58.574 11.0595C58.574 10.548 58.4853 10.0921 58.3078 9.69179C58.1304 9.2915 57.8753 8.98017 57.5426 8.75778C57.2099 8.52428 56.8106 8.40753 56.3448 8.40753C55.9012 8.40753 55.5075 8.52428 55.1637 8.75778C54.8199 8.99129 54.5538 9.30818 54.3652 9.70847C54.1878 10.1088 54.0935 10.5591 54.0824 11.0595C54.0824 11.5709 54.1712 12.0268 54.3486 12.4271C54.526 12.8274 54.7867 13.1443 55.1305 13.3778C55.4743 13.6002 55.8735 13.7114 56.3282 13.7114Z" fill="#{$encoded-color}" /><path d="M27.1171 13.6488C27.1171 13.6008 27.0782 13.5618 27.0303 13.5618H22.5409C22.493 13.5618 22.4541 13.5228 22.4541 13.4748V4.71372C22.4541 4.66566 22.4153 4.62671 22.3674 4.62671H20.6944C20.6465 4.62671 20.6076 4.66566 20.6076 4.71372V15.2464C20.6076 15.2944 20.6465 15.3334 20.6944 15.3334H27.0303C27.0782 15.3334 27.1171 15.2944 27.1171 15.2464V13.6488Z" fill="#{$encoded-color}" /></svg>');
}
