@use '@/scss/dimensions' as dim;

@function unit($factor: 1, $unit: 'px') {
  @return #{$factor * 4}#{$unit};
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin form-text-field {
  width: dim.$form-text-field-width;
}

@mixin vertical-bar {
  border: 1px solid #c4c7c7;
  width: 0;
}
