@use '@/scss/underscore' as _;

.container {
  position: relative;

  > *:not(:first-child) {
    margin-top: _.unit(4);
  }

  .footer {
    padding: 0 _.unit(6) _.unit(6);
    text-align: right;
    position: sticky;
    bottom: 0;
    background: var(--color-layer-1);

    &::before {
      content: '';
      background: var(--color-border);
      opacity: 50%;
      height: 1px;
      display: block;
      margin: _.unit(6) _.unit(-6);
    }
  }
}
