@use '@/scss/underscore' as _;

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 40%);
  inset: 0;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0;
  min-height: 100%;
}

// paddings in scroll view
.content::after,
.content::before {
  flex: 1 0 _.unit(12);
  content: '';
  display: block;
  width: 100%;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
