@use '@/scss/underscore' as _;

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 40%);
  inset: 0;
  overflow-y: auto;
  padding: 64px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0;
  min-height: 100%;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
