@use '@/scss/underscore' as _;

.container {
  width: 100%;
  padding-bottom: _.unit(6);
  @include _.flex-column;
  padding-bottom: _.unit(6);

  .headline {
    display: flex;
    justify-content: space-between;
  }

  .table {
    flex: 1;
    margin-top: _.unit(4);
    background-color: var(--color-layer-1);
  }
}
