@use '@/scss/underscore' as _;

.card {
  @include _.flex-column;
}

.headline {
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: _.unit(4);
  flex: 1;
}

.pagination {
  min-height: 64px;
}

.apiResourceName {
  width: 360px;
}
