@use '@/scss/underscore' as _;

.headline {
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: _.unit(6);
  width: 100%;

  tbody tr.clickable {
    cursor: pointer;

    &:hover {
      background: var(--color-table-row-selected);
    }
  }
}

.apiResourceName {
  width: 360px;
}
