@use '@/scss/underscore' as _;

.domainItem {
  margin-bottom: _.unit(2);
}

.configDescription {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
}

.paywallNotification {
  margin-top: _.unit(3);
}
