@use '@/scss/underscore' as _;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: _.unit(3);
  border-radius: _.unit(2);
  font: var(--font-button-text);
  transition: var(--transition-default-control);
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.primary {
  border: none;
  background: var(--color-primary);
  color: var(--color-font-button-text);
}

.secondary {
  border: _.border(var(--color-border));
  background: var(--color-background);
  color: var(--color-font-primary);
}

.small {
  font: var(--font-button-text-small);

  &.secondary {
    border: _.border(var(--color-border-secondary));
    color: var(--color-font-secondary-dialog);
  }
}
