@use '/src/scss/underscore' as _;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: _.unit(3) _.unit(8);
  border-radius: 12px;
  background: var(--color-button-background);
  color: var(--color-button-text);
  font: var(--font-heading-3);
  box-shadow: var(--shadow-button);
  transition: var(--transition-default-control);
  cursor: pointer;

  &:disabled {
    background: var(--color-button-background-disabled);
    color: var(--color-button-text-disabled);
  }

  &:not(:disabled):hover {
    background: var(--color-button-background-hover);
  }
}
