@use '@/scss/underscore' as _;


.socialButton {
  justify-content: normal;
  padding: _.unit(3) _.unit(16);
}

.icon {
  width: _.unit(6);
  height: _.unit(6);
  @include _.image-align-center;
  margin-right: _.unit(4);
  overflow: hidden;
}
