@use '@/scss/underscore' as _;


.socialButton {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  @include _.flex-column;
  background: var(--color-layer);
  border: none;
}

.icon {
  width: 28px;
  height: 28px;
  @include _.image-align-center;
}
