@use '@/scss/underscore' as _;

.congrats {
  width: 160px;
  height: 160px;
}

.title {
  margin-top: _.unit(6);
  font: var(--font-title-1);
}

.description {
  margin-top: _.unit(3);
  text-align: center;
  font: var(--font-body-2);
}

.form {
  width: 100%;
  margin-top: _.unit(6);

  .cardFieldHeadline {
    margin-bottom: _.unit(2);
  }
}
