@use '@/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.table {
  flex: 1;
}

.clickable {
  @include _.clickable-tr;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .title {
    color: var(--color-text-secondary);
    font: var(--font-body-medium);
  }

  .eventSelector {
    width: 300px;
    margin-left: _.unit(2);
  }

  .applicationSelector {
    width: 250px;
    margin-left: _.unit(2);
  }
}

.pagination {
  margin-top: _.unit(4);
}

.eventName {
  width: 360px;
}
