@use '@/scss/underscore' as _;


.wrapper {
  @include _.page-wrapper;
  position: absolute;
  inset: 0;
}

.connector {
  margin: _.unit(30) 0;
}

.loadingLabel {
  margin-bottom: _.unit(6);
}

.placeHolder {
  flex: 1;
}

.button {
  @include _.container-width;
  margin-bottom: _.unit(4);
}
