@use '@/scss/underscore' as _;


.wrapper {
  @include _.full-page;
  @include _.flex-column;
  justify-content: flex-start;
}

.connector {
  margin: _.unit(30) 0;
}

.loadingLabel {
  margin-bottom: _.unit(6);
}

.placeHolder {
  flex: 1;
}

.button {
  @include _.container-width;
  margin-bottom: _.unit(4);
}
