/* Foundation */
$font-family: -apple-system,
  system-ui,
  'BlinkMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;

@mixin fonts {
  --font-title: 600 32px/40px #{$font-family};
  --font-body-bold: 500 16px/20px #{$font-family};
  --font-body: 400 16px/20px #{$font-family};
  --font-body-small: 500 14px/18px #{$font-family};
  --font-caption: 400 14px/18px #{$font-family};
}

@mixin layout {
  --radius: 8px;
}
