.modal {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
}

.drawer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 411px;
  outline: none;
  padding-bottom: env(safe-area-inset-bottom);
}

.overlay {
  position: fixed;
  background: var(--color-overlay);
  inset: 0;
}

/* stylelint-disable selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .static {
    overflow: hidden;
  }

  .ReactModal__Content[role='popup'] {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }

  .ReactModal__Content--after-open[role='popup'] {
    transform: translateY(0);
  }

  .ReactModal__Content--before-close[role='popup'] {
    transform: translateY(100%);
  }
}

/* stylelint-enable selector-class-pattern */
