.modal {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
}

.drawer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 411px;
  outline: none;
  padding-bottom: env(safe-area-inset-bottom);
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 16%);
  inset: 0;
}
