@use '@/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tabs {
    margin: _.unit(4) 0;
  }

  .content {
    display: flex;

    .formWrapper {
      flex: 1;
      margin: 0 _.unit(3) _.unit(6) 0;

      &.withSubmitActionBar {
        margin-bottom: _.unit(3);
      }

      .form {
        > :not(:first-child) {
          margin-top: _.unit(3);
        }
      }
    }

    .preview {
      position: sticky;
      top: _.unit(4);
      align-self: flex-start;
    }
  }
}
