@use '@/scss/underscore' as _;

.content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.overlayScrollbarWrapper {
  flex-grow: 1;
}

.main {
  width: 100%;
  height: 100%;
  padding-block: 0;
  padding-inline: _.unit(2) _.unit(6);

  > :not(svg) {
    @include _.main-content-width;
  }

  // App Insights wrapper on cloud env prevents the CSS assignment to direct children
  [class='appInsightsWrapper'] > :not(svg) {
    @include _.main-content-width;
  }
}

.devStatus {
  color: var(--color-text-secondary);
  position: absolute;
  bottom: _.unit(3);
  inset-inline-start: _.unit(4);
}

.daisy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
