@use '@/scss/underscore' as _;

.pageContainer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  .scrollable {
    width: 100%;
  }

  .wrapper {
    @include _.main-content-width;
    width: calc(100% - #{_.unit(12)});
    padding: _.unit(3) 0;
    display: flex;
    flex-direction: column;
  }
}

.connectorName {
  color: var(--color-text-link);
}

.creationNotice {
  margin-bottom: _.unit(4);
}
