@use '/src/scss/underscore' as _;

.messageBox {
  font: var(--font-body);
  padding: _.unit(2) _.unit(5);
  border-radius: _.unit();

  &.error {
    color: var(--color-error);
    background: var(--color-error-background);
    border: 1px solid var(--color-error-border);
  }
}
