@use '@/scss/underscore' as _;

.wrapper {
  @include _.full-page;
  @include _.flex-column;
  align-items: stretch;

  .container {
    flex: 1;
    @include _.flex-column;
    justify-content: flex-start;
  }

  .icon {
    margin-top: _.unit(22);
  }

  .title {
    @include _.title;
    margin-bottom: _.unit(4);
  }

  .message {
    @include _.text-hint;
  }

  .placeHolder {
    flex: 1;
  }

  .backBtn {
    margin-bottom: _.unit(10);
  }
}
