@use '@/scss/underscore' as _;

.rolesTable {
  margin-bottom: _.unit(6);
  color: var(--color-text);

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  tbody {
    td {
      max-width: 100%;
      @include _.text-ellipsis;
      font: var(--font-body-medium);
    }
  }
}
