@use '@/scss/underscore' as _;

.row {
  display: flex;
  align-items: center;
  margin: _.unit(1) _.unit(6) _.unit(1) _.unit(4);
  padding: _.unit(2);
  color: var(--color-on-surface-variant);
  border-radius: _.unit(2);
  text-decoration: none;
  user-select: none;

  .icon {
    height: _.unit(5);
    flex: 0 0 _.unit(5);

    svg {
      fill: var(--color-on-surface-variant);
      width: _.unit(5);
      height: _.unit(5);
    }
  }

  &:not(.active):hover {
    background: var(--color-neutral-variant-90);
  }

  &.active {
    background: var(--color-primary-90);
    color: var(--color-primary);

    .icon svg {
      fill: var(--color-primary);
    }
  }

  > div + div {
    margin-left: _.unit(4);
  }

  .title {
    font: var(--font-subhead-2);
  }
}
