@use '@/scss/underscore' as _;

.wrapper {
  @include _.page-wrapper;
  padding-top: _.unit(2);
}

.title {
  width: 100%;
  @include _.title;
  margin-bottom: _.unit(1);
}

.detail {
  width: 100%;
  margin-bottom: _.unit(6);
  font: var(--font-body);
  color: var(--color-caption);
}
