@use '@/scss/underscore' as _;

.wrapper {
  position: relative;
  padding: _.unit(8) _.unit(5);
  @include _.flex-column;
}

.navBar {
  width: 100%;
  margin-bottom: _.unit(6);

  svg {
    margin-left: _.unit(-2);
  }
}

.title {
  width: 100%;
  @include _.title;
  margin-bottom: _.unit(1);
}

.detail {
  width: 100%;
  margin-bottom: _.unit(9);
  font: var(--font-body);
  color: var(--color-font-tertiary);
}
