@use '@/scss/underscore' as _;

.container {
  display: flex;
  align-items: center;
  font: var(--font-body-2);
  overflow: hidden;

  .name {
    @include _.text-ellipsis;
  }

  .flag {
    flex-shrink: 0;
    margin-inline-start: _.unit(2);
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
  }
}
