@use '@/scss/underscore' as _;

.broadcast {
  background-color: var(--color-layer-1);
  position: absolute;
  top: _.unit(4);
  left: 50%;
  font: var(--font-label-2);
  border-radius: 18px;
  padding: _.unit(2) _.unit(5);
  box-shadow: var(--shadow-2);
  user-select: none;
  text-align: center;
  transform: translateX(-50%);

  .link {
    margin-left: _.unit(3);
  }
}
