@use '@/scss/underscore' as _;

$logo-height: 60px;

.container {
  width: 100%;
  @include _.flex-column;
}

.logo {
  height: $logo-height;
  width: auto;
  @include _.image-align-center;

  &:not(:last-child) {
    margin-bottom: _.unit(2);
  }
}

.headline {
  font: var(--font-heading-2-bold);
  color: var(--color-font-secondary);
}
