@use '@/scss/underscore' as _;

.imageUploader {
  border: 1px dashed var(--color-border);
  border-radius: 8px;
  padding: _.unit(6) _.unit(2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .delete {
    position: absolute;
    right: _.unit(2);
    bottom: _.unit(2);
  }

  > img {
    height: 40px;
    max-width: 100%;
    object-fit: contain;
  }
}

.limit {
  margin-top: _.unit(2);
  font: var(--font-body-2);
  color: var(--color-text-secondary);
}

.error {
  color: var(--color-error);
}
