@use '@/scss/underscore' as _;

.content {
  > :not(:first-child) {
    margin-top: _.unit(6);
  }

  .description {
    font: var(--font-body-medium);
  }

  .hightlight {
    color: var(--color-primary-50);
  }
}
