@use '@/scss/underscore' as _;

.field {
  display: flex;
  align-items: center;

  .tipButton {
    margin-left: _.unit(1);
  }
}

.title {
  font: var(--font-label-large);
}

.content {
  font: var(--font-body-medium);

  .link {
    color: #cabeff;

    &:active {
      color: #cabeff;
    }
  }
}
