@use '@/scss/underscore' as _;

.field {
  display: flex;
  align-items: center;

  .tipButton {
    margin-left: _.unit(0.5);
  }
}

.title {
  font: var(--font-label-large);
}

.content {
  font: var(--font-body-medium);
}
