@use '@experience/shared/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  gap: _.unit(4);
  width: 100%;
  max-width: _.unit(100);
}

.prepare {
  display: flex;
  flex-direction: column;
  gap: _.unit(4);
  width: 100%;
  max-width: _.unit(100);
}

.identifierInput {
  width: 100%;
}

.helper {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin: 0;
}

.codeInput {
  width: 100%;
}

.message {
  font: var(--font-body-2);
  color: var(--color-type-secondary);
}

.submit {
  align-self: flex-start;
}

.prepareAction {
  width: 100%;
}

.switchLink {
  align-self: flex-start;
}
