@use '@/scss/underscore' as _;

.item {
  padding: _.unit(2) _.unit(4);
  list-style: none;
  font: var(--font-body-medium);
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background: var(--color-neutral-95);
  }

  &.danger {
    color: var(--color-error-40);
  }

  .icon {
    display: flex;
    align-items: center;
    margin-right: _.unit(5);
  }
}
