@use '@/scss/underscore' as _;
@use '@/scss/dimensions' as dim;

.form {
  padding: _.unit(8) 0;
  display: flex;
  align-items: flex-end;
}

.textField {
  @include _.form-text-field;
}

.submit {
  padding-left: dim.$form-text-field-width;
}
