@use '@/scss/underscore' as _;
@use '@/scss/dimensions' as dim;

.form {
  margin-top: _.unit(8);
  display: flex;
  align-items: flex-end;
}

.fields {
  padding-bottom: _.unit(8);
}

.textField {
  @include _.form-text-field;
}

.submit {
  padding-left: dim.$form-text-field-width;
}
