@use '@/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-base);
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    background: none;
    height: 64px;
    padding: 0 _.unit(21) 0 _.unit(2);

    button {
      margin-left: _.unit(4);
    }

    .separator {
      @include _.vertical-bar;
      height: 20px;
      margin: 0 _.unit(5) 0 _.unit(4);
    }

    .closeIcon {
      color: var(--color-text-secondary);
    }
  }

  .content {
    flex: 1;
    display: flex;
    overflow: hidden;

    > * {
      flex: 1;
      overflow-y: auto;
    }

    .readme {
      background-color: var(--color-layer-1);
      border: 1.5px solid var(--color-focused-variant);
      border-radius: 16px;
      margin: _.unit(2) _.unit(3) _.unit(6) _.unit(18);
      overflow: hidden;

      .readmeTitle {
        font: var(--font-title-2);
        padding: _.unit(5) _.unit(6) _.unit(4);
        border-bottom: 1px solid var(--color-focused-variant);
      }

      .readmeContent {
        padding: 0 _.unit(6);
        overflow-y: auto;
        height: 100%;
      }
    }

    .setup {
      margin: _.unit(2) _.unit(18) _.unit(6) _.unit(3);

      .block {
        background-color: var(--color-layer-1);
        border-radius: 16px;
        padding: 0 _.unit(6) _.unit(6);
        margin-bottom: _.unit(6);

        .blockTitle {
          font: var(--font-title-2);
          padding: _.unit(5) 0 _.unit(6);
          display: flex;
          align-items: center;
          gap: _.unit(4);

          .number {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: var(--color-focused-variant);
            color: var(--color-primary);
            font: var(--font-title-2);
            text-align: center;
            line-height: 28px;
          }
        }
      }

      .footer {
        margin-top: _.unit(6);
        display: flex;
        justify-content: right;
      }
    }

    form + div {
      margin-top: _.unit(6);
    }
  }
}
