@use '@/scss/underscore' as _;

.container {
  display: flex;
  gap: _.unit(2);

  > * {
    flex: 1;

    &.dark {
      background-color: #111;
    }
  }

  .logo {
    flex: 3;
  }
}

.description {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin-top: _.unit(1);
}

.error {
  color: var(--color-error);
}
