@use '@/scss/underscore' as _;

.container {
  border-radius: 6px;
  border: 1px solid var(--color-component-border);
  outline: 2px solid transparent;
  transition-property: outline, border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  padding: _.unit(2) _.unit(3);
  font: var(--font-body-medium);

  &.withIcon {
    display: flex;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: _.unit(2);
    }
  }

  &:focus-within {
    border-color: var(--color-primary);
    outline-color: var(--color-primary-80);
  }

  input {
    width: 100%;
    appearance: none;
    color: var(--color-component-text);
    font: var(--font-body-medium);
    padding: 0;

    &::placeholder {
      color: var(--color-component-caption);
    }
  }

  &.disabled {
    background: var(--color-surface);
    color: var(--color-disabled);
    border-color: var(--color-disabled);

    input {
      background: none;
    }
  }

  &.readOnly {
    background: var(--color-surface);
    color: var(--color-readonly);
    border-color: var(--color-disabled);

    input {
      background: none;
    }
  }

  &.error {
    border-color: var(--color-error);

    &:focus-within {
      outline-color: var(--color-error-80);
    }
  }
}
