@use '@/scss/underscore' as _;

.selectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: _.unit(1);

  .select {
    cursor: pointer;
    position: relative;

    input {
      text-overflow: ellipsis;
      padding-inline-end: _.unit(8);
      cursor: pointer;
    }

    .arrow {
      position: absolute;
      inset-inline-end: _.unit(2);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      color: var(--color-type-secondary);
      transition: transform 0.2s ease-in-out;

      &:focus-visible {
        border-radius: 6px;
        outline: solid 1px var(--color-brand-default);
      }

      &.up {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .dropdown {
    padding: _.unit(1);
    max-height: 288px;
  }

  .description,
  .errorMessage {
    margin-inline-start: _.unit(0.5);
    @include _.text-hint;
  }

  .errorMessage {
    color: var(--color-danger-default);
  }
}

.focused {
  background: var(--color-overlay-neutral-hover);
}
