@use '@/scss/underscore' as _;

.item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  > div:not(:first-child) {
    margin-left: _.unit(4);
  }

  .icon {
    flex-shrink: 0;
  }

  .title {
    font: var(--font-body-medium);
    color: var(--color-primary);
    text-decoration: none;
  }

  .subtitle {
    font: var(--font-body-small);
    color: var(--color-outline);
  }
}
