@use '@/scss/underscore' as _;

.addressContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: _.unit(3);

  .inputField {
    grid-column: span 2;

    &.halfSize {
      grid-column: span 1;
    }
  }
}

.description,
.errorMessage {
  margin-top: _.unit(-2);
  margin-inline-start: _.unit(0.5);
  grid-column: span 2;
  @include _.text-hint;
}

.errorMessage {
  color: var(--color-danger-default);
  display: flex;
  flex-direction: column;
  gap: _.unit(1);

  > p {
    margin: 0;
  }
}

@media only screen and (max-width: 580px) {
  .addressContainer {
    grid-template-columns: 1fr;

    .inputField {
      grid-column: span 1;
    }
  }
}
