@use '@/scss/underscore' as _;

.draggleItemContainer {
  transform: translate(0, 0);
}

.methodItem {
  display: flex;
  align-items: center;
  margin: _.unit(2) 0;
  gap: _.unit(2);
}

.methodContent {
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
  padding: _.unit(3) _.unit(2);
  background-color: var(--color-layer-2);
  border-radius: 8px;
  cursor: move;
  color: var(--color-text);
}

.methodLabel {
  font: var(--font-label-2);
  color: var(--color-text);
}

.draggableIcon {
  color: var(--color-text-secondary);
  margin-right: _.unit(1);
}

.plusIcon {
  color: var(--color-text-secondary);
}

.errorMessage {
  margin-top: _.unit(1);
  color: var(--color-error);
  font: var(--font-body-2);
}
