@use '@/scss/underscore' as _;

.form {
  @include _.flex-column;

  > * {
    width: 100%;
  }

  .inputField,
  .link,
  .terms {
    margin-bottom: _.unit(4);
  }

  .link {
    width: auto;
    align-self: start;
  }

  .formErrors {
    margin-top: _.unit(-2);
    margin-bottom: _.unit(4);
  }
}
