@use '@/scss/underscore' as _;

.container {
  padding: _.unit(6);
  border-radius: 16px;
  // Force dark theme on the code editor
  background: #2d3132;
  position: relative;

  .copy {
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: 24px;
    right: 24px;
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
    cursor: pointer;
  }

  &:hover {
    .copy {
      opacity: 100%;
    }
  }

  .editor {
    position: relative;

    textarea {
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      font-size: 14px;
      line-height: 1.5;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      white-space: pre-wrap;
      word-break: keep-all;
      overflow-wrap: break-word;
      position: absolute;
      inset: 0;
      resize: none;
      color: #fefefe;
      overflow: hidden;
      -webkit-text-fill-color: transparent;
      outline: none;
    }
  }
}
