@use '@/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-1);
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    background-color: var(--color-layer-1);
    height: 64px;
    padding: 0 _.unit(21) 0 _.unit(2);

    button {
      margin-left: _.unit(4);
    }

    .separator {
      @include _.vertical-bar;
      height: 20px;
      margin: 0 _.unit(5) 0 _.unit(4);
    }

    .closeIcon {
      color: var(--color-icon);
    }
  }

  .content {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding: _.unit(6) _.unit(15);

    > * {
      flex: 1;
      margin: 0 12px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .readme {
      background-color: var(--color-surface-variant);
      border-radius: 16px;
      padding: _.unit(6);
    }

    form + div {
      margin-top: _.unit(6);
    }
  }
}
