@use '@/scss/underscore' as _;

.container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: _.unit(5);
  background: var(--color-dialogue);
}

.header {
  @include _.flex-row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: _.unit(4);
}

.closeIcon {
  fill: var(--color-icon);
}
