@use '@/scss/underscore' as _;

.container {
  display: flex;
  align-items: center;
  padding: _.unit(2);
  margin-left: _.unit(4);
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-hover-variant);
  }

  &.active {
    background-color: var(--color-focused-variant);
  }
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  margin-left: _.unit(3);

  .name {
    font: var(--font-label-2);
    color: var(--color-text);
  }

  .email {
    font: var(--font-body-3);
    color: var(--color-text-secondary);
  }
}

.dropdown {
  min-width: 320px;

  .userInfo {
    display: flex;
    align-items: center;
    padding: _.unit(4) _.unit(5);
    user-select: none;
    cursor: default;
  }
}

.dropdownItem {
  min-width: 170px;
  padding: _.unit(2.5) _.unit(4);
  margin: _.unit(1);

  &.loading {
    opacity: 60%;
    cursor: default;

    &:hover {
      background-color: unset;
    }
  }

  .icon {
    color: var(--color-text-secondary);
  }

  .spinner {
    margin-left: _.unit(6);
  }
}

.divider {
  height: 0;
  border-bottom: 1px solid var(--color-divider);
}
