@use '@/scss/underscore' as _;

a.link {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.previewTitle {
  display: flex;
  align-items: center;

  > *:first-child {
    margin-right: _.unit(2);
  }
}
