@use '@/scss/underscore' as _;

.title {
  font: var(--font-subhead-cap-small);
  color: var(--color-neutral-variant-70);
  padding: _.unit(2) _.unit(6);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
