@use '@/scss/underscore' as _;

.title {
  font-weight: bold;
  color: #adaab4;
  padding: _.unit(2) _.unit(6);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 10px;

  &.zh {
    font-size: 12px;
  }
}
