@use '@/scss/underscore' as _;

.content {
  display: flex;
  flex-direction: column;
}

.description {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin-bottom: _.unit(3);
}

.upsellNotice {
  margin-bottom: _.unit(4);
}
