@use '@/scss/underscore' as _;

.content {
  display: flex;
  padding: 0 _.unit(17);

  .config {
    background-color: var(--color-layer-1);
    border-radius: 8px;
    padding: _.unit(12);
    min-width: 500px;
    margin-right: _.unit(8);

    .title {
      margin-top: _.unit(6);
      font: var(--font-title-1);
    }

    .cardFieldHeadline {
      margin-bottom: _.unit(2);
    }

    .authnSelector {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .preview {
    flex: 1;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }
}

.continueActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: _.unit(4);
}
