@use '@/scss/underscore' as _;

.headline {
  display: flex;
  justify-content: space-between;
  padding: _.unit(6) _.unit(6) 0;
}

.table {
  margin: _.unit(4) _.unit(6) _.unit(6);

  tbody {
    max-height: calc(100vh - _.unit(64));

    tr.clickable {
      cursor: pointer;

      &:hover {
        background: var(--color-table-row-selected);
      }
    }
  }
}

.applicationName {
  width: 360px;
}
