@use '@/scss/underscore' as _;

.countryCodeSelector {
  font: var(--font-label-1);
  color: var(--color-type-primary);
  border: _.border('transparent');
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  background: none;
  position: relative;
  height: 100%;
  padding-inline: _.unit(4) _.unit(1);
  @include _.flex-row;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0%;
  // Disable pointer events to avoid the focus on the country code selector when clicking on the input
  pointer-events: none;

  &.visible {
    opacity: 100%;
    pointer-events: auto;
  }

  &:focus-visible {
    border: _.border(var(--color-brand-default));
  }

  > svg {
    flex-shrink: 0;
    color: var(--color-type-secondary);
    margin-inline-start: _.unit(1);
    width: 16px;
    height: 16px;
  }
}

:global(body.desktop) {
  .countryCodeSelector {
    font: var(--font-body-2);

    > svg {
      margin-inline-start: _.unit(2);
      width: 20px;
      height: 20px;
    }
  }
}
