@use '@/scss/underscore' as _;

.item {
  padding: _.unit(2);
  border-radius: 6px;
  font: var(--font-body-2);
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: _.unit(4);
  border: 1px solid transparent;

  &:hover {
    background: var(--color-overlay-neutral-hover);
  }

  &.danger {
    color: var(--color-overlay-danger-hover);
  }

  &:focus-visible {
    border: solid 1px var(--color-brand-default);
    outline: none;
  }

  .icon {
    display: flex;
    align-items: center;
  }
}
