@use '@/shared/scss/underscore' as _;

.content {
  box-shadow: var(--color-shadow-2);
  position: absolute;
  border-radius: 8px;

  &.onTop {
    box-shadow: var(--color-shadow-2-reversed);
  }

  &:focus {
    outline: none;
  }
}

.dropdownContainer {
  background: var(--color-bg-float-overlay);
  border: 1px solid var(--color-line-divider);
  border-radius: 8px;
}

.overlay {
  background: transparent;
  position: fixed;
  inset: 0;
  z-index: 199;
}
