@use '@/scss/underscore' as _;

.card {
  padding: _.unit(8);

  > :not(:first-child) {
    margin-top: _.unit(6);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    border-top: 1px solid var(--color-neutral-80);
    margin-top: _.unit(6);
    padding-top: _.unit(6);
    display: flex;
    justify-content: right;

    button:not(:last-child) {
      margin-right: _.unit(2);
    }
  }
}

