@use '@/scss/underscore' as _;
@use '@/scss/dimensions' as dim;


.content {
  min-width: dim.$modal-layout-min-width;
  padding: _.unit(8) 0;
}

.footer {
  display: flex;
  justify-content: right;

  button:not(:last-child) {
    margin-right: _.unit(2);
  }
}
