@use '@/scss/underscore' as _;

.button {
  border: none;
  outline: none;
  background: none;
  border-color: none;
  color: var(--color-primary);
  border-radius: 6px;
  font: var(--font-button);
  transition: background 0.2s ease-in-out;
  padding: _.unit(1);
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    fill: var(--color-caption);
  }

  &:disabled {
    > svg {
      fill: var(--color-neutral-80);
    }
  }

  &:active {
    background: var(--color-pressed);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    background: var(--color-hover);
  }

  &.small {
    > svg {
      height: 16px;
      width: 16px;
    }
  }

  &.medium {
    > svg {
      height: 20px;
      width: 20px;
    }
  }

  &.large {
    > svg {
      height: 24px;
      width: 24px;
    }
  }
}
