@use '@/scss/underscore' as _;

.button {
  border: none;
  outline: none;
  background: none;
  border-color: none;
  color: var(--color-primary);
  border-radius: 6px;
  font: var(--font-button);
  transition: background 0.2s ease-in-out;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    color: var(--color-neutral-80);
  }

  &:focus {
    outline: 2px solid var(--color-overlay-12);
  }

  &:active {
    background: var(--color-neutral-90);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    color: var(--color-primary-30);
  }

  &.small {
    height: 16px;
    width: 16px;
  }

  &.medium {
    height: 20px;
    width: 20px;
  }

  &.large {
    height: 32px;
    width: 32px;
  }
}
