@use '@/scss/underscore' as _;
@use '@/scss/dimensions' as dim;

.group {
  gap: _.unit(4);
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: dim.$modal-layout-grid-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: dim.$modal-layout-grid-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: dim.$modal-layout-grid-small) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: _.unit(4);
}

.groupLabel {
  font: var(--font-label-1);
}

.item {
  display: flex;
  flex-direction: column;
  gap: _.unit(1);

  .title {
    font: var(--font-label-2);
  }

  .description {
    font: var(--font-body-3);
    color: var(--color-text-secondary);
  }
}

.customDataFieldNameInput {
  &:not(:first-child) {
    margin-top: 0;
  }
}

.errorMessage {
  margin-top: _.unit(1);
  font: var(--font-body-2);
  color: var(--color-error);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: _.unit(2);
}
