@use '@/scss/underscore' as _;

.form {
  @include _.flex-column;

  > * {
    width: 100%;
  }

  .inputField,
  .terms,
  .formErrors {
    margin-bottom: _.unit(4);
  }

  .formErrors {
    margin-top: _.unit(-3);
  }
}
