@use '@experience/shared/scss/underscore' as _;

.container {
  padding: _.unit(6);
  max-width: _.unit(120);
}

.title {
  font: var(--font-title-2);
  margin-bottom: _.unit(2);
}

.message {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin-bottom: _.unit(4);
}

.link {
  font: var(--font-body-2-medium);
  color: var(--color-primary-50);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
