@use '@/scss/underscore' as _;

.languageItem {
  padding: _.unit(1.5) _.unit(3);
  margin-bottom: _.unit(1);
  cursor: pointer;
  border-radius: 8px;
  font: var(--font-label-large);

  .languageName {
    color: var(--color-text);
  }

  .languageTag {
    color: var(--color-caption);
  }

  &:hover {
    background-color: var(--color-hover-variant);
  }

  &.selected {
    background-color: var(--color-focused-variant);

    .languageName,
    .languageTag {
      color: var(--color-text-link);
    }
  }
}
