@use '@/scss/underscore' as _;

.headline {
  display: flex;
  justify-content: space-between;
}

.tabs {
  margin-top: _.unit(4);
}

.table {
  margin-top: _.unit(4);

  tbody {
    max-height: calc(100vh - _.unit(74));

    tr.clickable {
      cursor: pointer;

      &:hover {
        background: var(--color-table-row-selected);
      }
    }
  }
}

.connectorName {
  width: 360px;
}

.empty {
  text-align: center;
  font-size: var(--font-body-medium);
}

.emptyLine {
  padding: _.unit(2) 0;
}
