@use '@/scss/underscore' as _;

.card {
  padding: _.unit(8);
}

.headline {
  display: flex;
  justify-content: space-between;

  > *:not(:first-child) {
    margin-left: _.unit(3);
  }

  > svg {
    cursor: pointer;
  }
}

.form {
  margin-top: _.unit(8);
}

.textField {
  max-width: 556px;
}

.submit {
  margin-top: _.unit(8);
  text-align: right;
}

.error {
  font: var(--font-body-2);
  color: var(--color-error);
  margin-top: _.unit(2);
}
