@use '@/scss/underscore' as _;

.container {
  @include _.flex-column(center, normal);
  position: absolute;
  inset: 0;
  overflow-y: auto;

  .wrapper {
    @include _.flex-column(normal, normal);
    width: 100%;
    max-width: 1200px;
    flex: 1;
    padding: _.unit(4);

    .header {
      margin-top: _.unit(2);

      .title {
        font: var(--font-title-1);
        margin-bottom: _.unit(1);
      }

      .subtitle {
        font: var(--font-body-2);
        color: var(--color-type-secondary);
      }
    }
  }
}

:global(body.mobile) {
  .container {
    background: var(--color-bg-body-base);
  }
}

:global(body.desktop) {
  .container {
    background: var(--color-surface);
  }
}
