@use '@/scss/underscore' as _;

.container {
  border: 1px solid var(--color-border);
  border-radius: 6px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  height: 360px;

  .verticalBar {
    @include _.vertical-bar;
  }

  .box {
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    .top {
      height: 52px;
      border-bottom: 1px solid var(--color-border);
      display: flex;
      align-items: center;
      padding: 0 _.unit(4);

      .search {
        width: 100%;
      }

      &.added {
        font: var(--font-label-large);
      }
    }

    .content {
      flex: 1 1 0;
      overflow-y: auto;
    }

    .icon {
      color: var(--color-text-secondary);
    }
  }
}
