@use '@/scss/underscore' as _;


.scopesCard,
.organizationSelector {
  margin-top: _.unit(6);
}

.footer {
  margin-top: _.unit(7);
  @include _.flex_row;
  gap: _.unit(2);
}

:global(body.mobile) {
  .scopesCard {
    margin-top: _.unit(4);
  }
}

:global(body.desktop) {
  .scopesCard {
    margin-top: _.unit(6);
  }
}
