@use '@/scss/underscore' as _;

.container {
  display: flex;
  align-items: center;
  padding: _.unit(2);
  margin-inline-start: _.unit(4);
  border-radius: 8px;

  .image {
    width: 36px;
    height: 36px;
    margin-inline-end: _.unit(2);
    border-radius: 6px;
    @include _.shimmering-animation;
  }

  .name {
    width: 85px;
    height: 20px;
    color: var(--color-text);
    @include _.shimmering-animation;
  }
}
