@use '@/scss/underscore' as _;

.uploader {
  border: 1px dashed var(--color-border);
  border-radius: 8px;
  padding: _.unit(3.25);
  transition-property: outline, border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  > input {
    display: none;
  }

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      color: var(--color-text-secondary);
      transition-property: color;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
    }

    .uploadingIcon {
      width: 20px;
      height: 20px;
      color: var(--color-primary);
    }

    .actionDescription {
      margin-top: _.unit(1);
      font: var(--font-body-2); // With font height to be 20px.
      user-select: none;
    }
  }

  &:hover {
    cursor: pointer;
    border-color: var(--color-primary);

    .placeholder {
      .icon {
        color: var(--color-primary);
      }
    }
  }

  &.dragActive {
    cursor: copy;
    background-color: var(--color-hover-variant);
    border-color: var(--color-primary);

    .placeholder {
      .icon {
        color: var(--color-primary);
      }
    }
  }

  &.uploaderError {
    border-color: var(--color-error);
  }
}
