@use '@/scss/underscore' as _;

.uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--color-border);
  border-radius: 8px;
  padding: _.unit(5);

  > input {
    display: none;
  }

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      color: var(--color-text-secondary);
    }

    .uploadingIcon {
      width: 20px;
      height: 20px;
      color: var(--color-primary);
    }

    .actionDescription {
      margin-top: _.unit(1);
      font: var(--font-body-3);
      user-select: none;
    }
  }

  &.disabled {
    cursor: not-allowed;
    border-color: var(--color-disabled);
    color: var(--color-disabled);

    .placeholder {
      .icon {
        color: var(--color-disabled);
      }
    }
  }

  &:not(.disabled):hover {
    cursor: pointer;
    border-color: var(--color-primary);

    .placeholder {
      .icon {
        color: var(--color-primary);
      }
    }
  }

  &:not(.disabled).dragActive {
    cursor: copy;
    background-color: var(--color-hover-variant);
    border-color: var(--color-primary);

    .placeholder {
      .icon {
        color: var(--color-primary);
      }
    }
  }

  &.uploaderError {
    border-color: var(--color-error);
  }
}
