@use '@/scss/underscore' as _;

.title {
  @include _.subhead-cap;
  color: var(--color-neutral-variant-60);
  margin-top: _.unit(8);
}

.primaryTag {
  color: var(--color-caption);
}

.method {
  margin-top: _.unit(2);
}

.primarySocial {
  margin-top: _.unit(2);
}
