@use '@/scss/underscore' as _;

.userInfo {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: default;
  gap: _.unit(3);
}

.nameWrapper {
  display: flex;
  flex-direction: column;

  .name {
    font: var(--font-label-2);
    color: var(--color-text);
  }

  .email {
    font: var(--font-body-3);
    color: var(--color-text-secondary);
  }
}
