@use '@/scss/underscore' as _;

.permissionItem {
  display: flex;
  align-items: center;
  padding: _.unit(1.5) _.unit(7);
  cursor: pointer;

  .name {
    padding: _.unit(1) _.unit(2);
    border-radius: 6px;
    background: var(--color-neutral-95);
    @include _.text-ellipsis;
  }

  .icon {
    color: var(--color-text-secondary);
  }
}
