@use '@/scss/underscore' as _;

.link {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;


  &.primary {
    color: var(--color-brand-default);
    text-decoration: none;
    font: var(--font-label-2);
  }

  &.secondary {
    color: var(--color-type-secondary);
    text-decoration: underline;
  }
}


:global(body.desktop) {
  .link {
    &.primary:hover {
      text-decoration: underline;
    }

    &.secondary:hover {
      color: var(--color-brand-default);
    }
  }
}
