@use '@/scss/underscore' as _;

.link {
  transition: var(--transition-default-control);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &.primary {
    color: var(--color-font-link);
    font: var(--font-body-bold);
    text-decoration: none;
  }

  &.secondary {
    color: var(--color-font-link-secondary);
    font: var(--font-body-small);
  }
}
