@use '@/scss/underscore' as _;

.body {
  .connectorGroup {
    gap: _.unit(4);

    .connectorRadio {
      // Override radio style
      min-width: 276px;
      max-width: 276px;
      width: 276px;
      height: 96px;
    }

    .connector {
      font: var(--font-body-medium);
      display: flex;

      .logo {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;

        img {
          width: 36px;
          height: 36px;
        }
      }

      .content {
        flex: 1;

        .name {
          font: var(--font-subhead-2);
        }

        .connectorId {
          margin-top: _.unit(1);
          font: var(--font-body-small);
          color: var(--color-caption);
        }

        .description {
          font: var(--font-body-small);
          color: var(--color-caption);
          margin-top: _.unit(1);
          height: 60px;
          overflow: hidden;
        }
      }
    }
  }
}
