@use '@/scss/underscore' as _;

.languageNav {
  width: 185px;
  padding: _.unit(3) _.unit(2);
  flex-shrink: 0;
  background-color: var(--color-layer-light);
  border-right: 1px solid var(--color-border);

  .addLanguageButton {
    width: 100%;
    border-color: var(--color-outline);
    color: var(--color-text);
    background-color: unset;
    margin-bottom: _.unit(3);

    .iconPlus {
      color: var(--color-outline);
    }
  }
}
