@use '@/scss/underscore' as _;

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: _.unit(2);

    > svg {
      display: none;
      color: var(--color-text-disabled);

      &:first-child {
        color: var(--color-primary);
      }
    }
  }

  input {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0%;
  }

  input:checked:not(:disabled) ~ .icon > svg:nth-child(1),
  input:not(:checked):not(:disabled) ~ .icon > svg:nth-child(2) {
    display: block;
  }
}

:global(body.desktop) {
  .checkbox {
    .icon {
      width: 18px;
      height: 18px;
    }

    input {
      width: 18px;
      height: 18px;
    }
  }
}
