@use '@/scss/underscore' as _;

.container {
  padding: _.unit(8);
  max-width: 800px;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer {
    padding-top: _.unit(6);
    border-top: 1px solid var(--color-neutral-90);
  }
}
