@use '@/scss/underscore' as _;

.field {
  &:not(:first-child) {
    margin-top: _.unit(6);
  }
}

.headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: _.unit(1);

  .title {
    font: var(--font-subhead-2);
    color: var(--color-text);
  }

  .required {
    font: var(--font-body-medium);
    color: var(--color-caption);
  }
}
