@use '@/scss/underscore' as _;

.field {
  &:not(:first-child) {
    margin-top: _.unit(6);
  }
}

.headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: _.unit(1);



  .title {
    font: var(--font-caption-bold);
    color: var(--color-component-text);
  }

  .required {
    font: var(--font-body-2);
    color: var(--color-component-caption);
  }
}
