@use '@/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: _.unit(3);
  background: var(--color-bg-layer-1);

  .item {
    padding-left: _.unit(5);

    .wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      padding: _.unit(3) 0;
    }

    &:active {
      background: var(--color-overlay-neutral-pressed);
    }
  }

  .item + .item {
    .wrapper {
      border-top: 1px solid var(--color-line-divider);
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .label {
      font: var(--font-body-1);
    }

    .value {
      font: var(--font-body-2);
      color: var(--color-type-secondary);
      margin-top: _.unit(0.5);
    }
  }

  .action {
    display: flex;
    align-items: center;
    padding: 0 _.unit(4) 0 _.unit(3);
    color: var(--color-type-secondary);
  }
}
