@use '@/scss/underscore' as _;

.passcode {
  @include _.flex-row;
  justify-content: space-between;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;

  input {
    border-radius: _.unit(2);
    border: _.border();
    background: var(--color-layer);
    caret-color: var(--color-primary);
    width: 44px;
    height: 44px;
    text-align: center;
    font: var(--font-body);
    color: var(--color-text);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      border: _.border(var(--color-primary));
    }

    &::placeholder {
      color: var(--color-caption);
    }
  }
}

.errorMessage {
  margin-top: _.unit(2);
}
