@use '@/scss/underscore' as _;

.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-divider);
  border-radius: 8px;
  padding: _.unit(6);
  gap: _.unit(2);

  .name {
    flex: 1;
    font: var(--font-label-2);
  }
}
