@use '@/scss/underscore' as _;

.container {
  padding: _.unit(6) _.unit(8);
  display: flex;
  margin-top: _.unit(4);
  background: var(--color-layer-1);
  border-radius: 12px;
}

.title {
  @include _.section-head-1;
  width: 352px;
  flex-shrink: 0;
  color: var(--color-neutral-variant-60);
}

.content {
  flex-grow: 1;
}

@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column;

    .content {
      margin-top: _.unit(4);
      flex-grow: unset;
    }
  }
}
