@use '@/scss/underscore' as _;

.container {
  display: inline-block;
  border-radius: 6px;
  color: var(--color-text);
  font: var(--font-body-2);
  font-family: 'Roboto Mono', monospace;
  cursor: default;

  &.contained {
    padding: _.unit(1) _.unit(2);
    background: var(--color-layer-2);
  }

  &.border {
    padding: _.unit(1) _.unit(3);
    background: var(--color-layer-2);
    border: 1px solid var(--color-border);
  }

  &.block {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: text;
    gap: _.unit(2);

    .content {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-flex;
      align-items: center;
      gap: _.unit(2);
      margin-right: _.unit(1);
      flex-wrap: nowrap;

      &.wrapContent {
        text-overflow: unset;
        word-break: break-all;
      }
    }
  }

  &.default {
    .row {
      gap: _.unit(2);
    }
  }

  &.small {
    .row {
      gap: _.unit(0.5);

      .iconButton {
        height: 20px;
        width: 20px;

        .icon {
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  .dot {
    -webkit-text-stroke: 1px var(--color-text);
  }
}
