.skeleton {

  // TO-DO: move to theme component
  --color-on-surface-variant: #47464e;
  --color-primary: #4f37f9;
  --color-primary-90: #e5dfff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    display: flex;
  }
}
