@use '@/scss/underscore' as _;

.card {
  padding: _.unit(5) _.unit(6);
  display: flex;
  flex-direction: column;
  scroll-margin: _.unit(5);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    > svg {
      fill: var(--color-icon);
    }

    .index {
      margin-right: _.unit(4);
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: _.unit(6);
  }

  .content {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;

    &.expanded {
      margin-top: _.unit(6);
      max-height: 9999px;
      overflow: unset;
    }
  }
}

.card + .card {
  margin-top: _.unit(6);
}
