@use '@/scss/underscore' as _;

.wrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: _.unit(3) _.unit(12) _.unit(3) _.unit(5);
  border-radius: _.unit(2);
  border: _.border();
  background: var(--color-control-background);
  color: var(--color-font-primary);
  caret-color: var(--color-primary);
  font: var(--font-control);
  transition: var(--transition-default-control);

  &::placeholder {
    color: var(--color-font-tertiary-3);
  }

  &:focus {
    border: _.border(var(--color-control-focus));

    + .highlight {
      fill: var(--color-primary-tint-70);
    }
  }
}

.error,
.error:focus {
  border: _.border(var(--color-error));
}

.actionButton {
  position: absolute;
  right: _.unit(5);
  bottom: 50%;
  transform: translateY(50%);
  fill: var(--color-neutral-70);
}
