@use '@/scss/underscore' as _;

.wrapper {
  position: relative;
  @include _.flex-row;
  padding: 0 _.unit(4);
  border-radius: _.unit(2);
  border: _.border();
  background: var(--color-control-background);
  color: var(--color-font-primary);

  > *:not(:first-child) {
    margin-left: _.unit(1);
  }

  &.focus {
    border: _.border(var(--color-control-focus));
  }

  &.error {
    border: _.border(var(--color-error));
  }

  input {
    flex: 1;
    border: none;
    background: none;
    padding: _.unit(3) 0;
    caret-color: var(--color-primary);
    font: var(--font-control);
    transition: var(--transition-default-control);

    &::placeholder {
      color: var(--color-placeholder);
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 30px var(--color-control-background) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.actionButton {
  fill: var(--color-control-action);
}
