@use '@/scss/underscore' as _;

.countryCodeSelector {
  color: var(--color-text);
  font: var(--font-body);
  border: none;
  background: none;
  width: auto;
  @include _.flex-row;
  position: relative;
  margin-right: _.unit(1);

  > select {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  > svg {
    fill: var(--color-primary);
  }
}
