@use '@/scss/underscore' as _;

.item {
  display: flex;
  align-items: center;
  padding: _.unit(2.5) _.unit(4);
  cursor: pointer;
  user-select: none;

  &:hover {
    background: var(--color-hover);
  }
}

.checkbox {
  margin-inline-end: _.unit(2);
}
