@use '@/scss/underscore' as _;

.button {
  border: none;
  outline: none;
  border-radius: _.unit(2);
  font: var(--font-button);
  transition: background 0.2s ease-in-out;
  align-items: center;
  white-space: nowrap;

  &.withIcon {
    display: inline-flex;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  .icon {
    display: block;
    width: 20px;
    height: 20px;

    &:not(:last-child) {
      margin-right: _.unit(2);
    }
  }

  &.small {
    height: 30px;
    padding: 0 _.unit(3);

    &.plain {
      height: 24px;
    }
  }

  &.medium {
    height: 36px;
    padding: 0 _.unit(4);

    &.plain {
      height: 28px;
    }
  }

  &.large {
    height: 44px;
    padding: 0 _.unit(6);

    &.plain {
      height: 28px; // same as medium
    }
  }

  &.default {
    background: var(--color-layer-1);
    color: var(--color-text);
    border-color: var(--color-outline);
    border-width: 1px;
    border-style: solid;

    &:disabled {
      background: var(--color-neutral-70);
      border-color: var(--color-neutral-70);
    }

    &:focus {
      outline: 3px solid var(--color-focused);
    }

    &:active {
      background: var(--color-pressed);
    }

    &:not(:disabled):hover {
      background: var(--color-hover);
    }
  }

  &.primary {
    background: var(--color-primary);
    color: var(--color-on-primary);

    &:disabled {
      background: var(--color-inverse-on-surface);
      color: var(--color-neutral-70);
    }

    &:focus {
      outline: 3px solid var(--color-focused-variant);
    }

    &:active {
      background: var(--color-pressed_primary);
    }

    &:not(:disabled):hover {
      background: var(--color-hover-primary);
    }
  }

  &.danger {
    background: var(--color-error);
    color: var(--color-on-primary);

    &:disabled {
      background: var(--color-inverse-on-surface);
      color: var(--color-neutral-70);
    }

    &:focus {
      outline: 3px solid var(--color-focused-error);
    }

    &:not(:disabled):hover {
      background: var(--color-error);
    }
  }

  &.outline {
    background: var(--color-layer-1);
    border-color: var(--color-primary);
    border-width: 1px;
    border-style: solid;
    color: var(--color-primary);

    &:disabled {
      border-color: var(--color-neutral-70);
      color: var(--color-neutral-70);
    }

    &:focus {
      outline: 3px solid var(--color-focused-variant);
    }

    &:active {
      background: var(--color-pressed-variant);
    }

    &:not(:disabled):hover {
      background: var(--color-hover-variant);
    }
  }

  &.plain {
    background: none;
    border-color: none;
    font: var(--font-body-medium);
    color: var(--color-primary);

    &:disabled {
      color: var(--color-disabled);
    }

    &:focus {
      outline: 2px solid var(--color-focused-variant);
    }

    &:active {
      background: var(--color-pressed-variant);
    }

    &:not(:disabled):hover {
      background: var(--color-hover-variant);
    }
  }
}
