@use '@/scss/underscore' as _;

.button {
  border: none;
  outline: none;
  border-radius: _.unit(2);
  font: var(--font-button);
  transition: background 0.2s ease-in-out;
  @include _.text-ellipsis;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.small {
    height: 20px;
    padding: 0 _.unit(3);
  }

  &.medium {
    height: 36px;
    padding: 0  _.unit(4);
  }

  &.large {
    height: 44px;
    padding: 0 _.unit(6);
  }

  &.primary {
    background: var(--color-primary);
    color: var(--color-on-primary);

    &:disabled {
      background: var(--color-inverse-on-surface);
      color: var(--color-neutral-70);
    }

    &:focus {
      background: var(--color-primary-40);
      outline: 3px solid var(--color-primary-80);
    }

    &:not(:disabled):hover {
      background: var(--color-primary-30);
    }
  }

  &.danger {
    background: var(--color-error);
    color: var(--color-on-primary);

    &:disabled {
      background: var(--color-inverse-on-surface);
      color: var(--color-neutral-70);
    }

    &:focus {
      background: var(--color-error-40);
      outline: 3px solid var(--color-error-90);
    }

    &:not(:disabled):hover {
      background: var(--color-error-30);
    }
  }
}
