@use '@/scss/underscore' as _;

.button {
  border: none;
  outline: none;
  border-radius: _.unit(2);
  font: var(--font-button);
  transition: background 0.2s ease-in-out;
  @include _.text-ellipsis;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.small {
    height: 30px;
    padding: 0 _.unit(3);

    &.plain {
      height: 24px;
    }
  }

  &.medium {
    height: 36px;
    padding: 0 _.unit(4);

    &.plain {
      height: 28px;
    }
  }

  &.large {
    height: 44px;
    padding: 0 _.unit(6);

    &.plain {
      height: 28px; // same as medium
    }
  }

  &.default {
    background: var(--color-on-primary);
    color: var(--color-component-text);
    border-color: var(--color-outline);
    border-width: 1px;
    border-style: solid;

    &:disabled {
      background: var(--color-neutral-95);
      border-color: var(--color-neutral-95);
    }

    &:focus {
      outline: 3px solid var(--color-neutral-90);
    }

    &:not(:disabled):hover {
      background: var(--color-neutral-95);
    }
  }

  &.primary {
    background: var(--color-primary);
    color: var(--color-on-primary);

    &:disabled {
      background: var(--color-inverse-on-surface);
      color: var(--color-neutral-70);
    }

    &:focus {
      background: var(--color-primary-40);
      outline: 3px solid var(--color-primary-80);
    }

    &:not(:disabled):hover {
      background: var(--color-primary-30);
    }
  }

  &.danger {
    background: var(--color-error);
    color: var(--color-on-primary);

    &:disabled {
      background: var(--color-inverse-on-surface);
      color: var(--color-neutral-70);
    }

    &:focus {
      background: var(--color-error-40);
      outline: 3px solid var(--color-error-90);
    }

    &:not(:disabled):hover {
      background: var(--color-error-30);
    }
  }

  &.outline {
    background: var(--color-on-primary);
    border-color: var(--color-primary);
    border-width: 1px;
    border-style: solid;
    color: var(--color-primary);

    &:disabled {
      border-color: var(--color-neutral-70);
      color: var(--color-neutral-70);
    }

    &:focus {
      outline: 3px solid var(--color-primary-80);
    }

    &:active {
      border-color: var(--color-primary-30);
      color: var(--color-primary-30);
    }

    &:not(:disabled):hover {
      border-color: var(--color-primary-30);
      color: var(--color-primary-30);
      background: var(--color-surface-3);
    }
  }

  &.plain {
    background: none;
    border-color: none;
    color: var(--color-primary);

    &:disabled {
      color: var(--color-neutral-80);
    }

    &:focus {
      outline: 2px solid var(--color-primary-80);
    }

    &:active {
      color: var(--color-primary-30);
      background: var(--color-primary-95);
    }

    &:not(:disabled):hover {
      color: var(--color-primary-30);
    }
  }
}
