@use '@/scss/underscore' as _;

.backLink {
  margin: _.unit(1) 0 0 _.unit(1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;

    .imagePlaceholder {
      margin-left: _.unit(2);
    }

    .meta {
      margin-left: _.unit(6);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name {
        font: var(--font-title-large);
        color: var(--color-text);
      }

      .copy {
        padding: _.unit(1) _.unit(2) _.unit(1) _.unit(2);
      }
    }
  }

  .operations {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: _.unit(3);
    }
  }
}

.body {
  padding-bottom: 0;

  > :first-child {
    margin-top: 0;
  }

  .form {
    margin-top: _.unit(8);
  }

  .fields {
    padding-bottom: _.unit(10);
  }

  .textField {
    @include _.form-text-field;
  }
}
