@use '@/scss/underscore' as _;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  > :not(:first-child) {
    margin-top: _.unit(4);
  }
}

.container .header {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: _.unit(8);

  > *:not(:first-child) {
    margin-left: _.unit(6);
  }

  .operations {
    display: flex;
    align-items: center;

    > :not(:first-child) {
      margin-left: _.unit(3);
    }
  }

  .metadata {
    flex: 1;

    .name {
      font: var(--font-title-large);
      color: var(--color-component-text);
    }

    .details {
      display: flex;
      align-items: center;
      margin-top: _.unit(2);

      > :not(:first-child) {
        margin-left: _.unit(2);
      }
    }

    .type {
      background-color: var(--color-neutral-90);
      padding: _.unit(0.5) _.unit(2);
      border-radius: 10px;
      font: var(--font-label-medium);
    }

    .text {
      font: var(--font-subhead-2);
      color: var(--color-component-caption);
    }

    .verticalBar {
      @include _.vertical-bar;
      height: 12px;
    }

    .copy {
      padding: _.unit(1) _.unit(4) _.unit(1) _.unit(2);
    }
  }
}

.container .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    > *:not(:first-child) {
      margin-top: _.unit(6);
    }

    .fields {
      flex: 1;
      border-bottom: 1px solid var(--color-border);
      padding: _.unit(6) 0;
      overflow: auto;

      > div {
        @include _.form-text-field;
      }

      .textField {
        @include _.form-text-field;
      }

      .listFields {
        > *:not(:first-child) {
          margin-top: _.unit(1);
        }
      }
    }

    .submit {
      flex: 0;
      text-align: right;
    }
  }
}
