@use '@/scss/underscore' as _;

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: _.unit(6);
  height: 100%;

  > :not(:first-child) {
    margin-top: _.unit(4);
  }
}

.headline {
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
  overflow: hidden;
}
