@use '@/scss/underscore' as _;

.notification {
  padding: _.unit(3) _.unit(4);
  font: var(--font-body-2);
  color: var(--color-type-primary);
  background: var(--color-alert-99);
  margin: 0 auto _.unit(2);
  @include _.flex_row;

  &:focus-visible {
    outline: none;
  }
}

.icon {
  color: var(--color-alert-70);
  width: 20px;
  height: 20px;
  margin-right: _.unit(3);
}

.message {
  flex: 1;
  margin-right: _.unit(4);
}

.link {
  text-decoration: underline;
  cursor: pointer;
  max-width: 20%;
}

:global(body.desktop) {
  .notification {
    border-radius: var(--radius);
  }

  .link {
    &:hover {
      color: var(--color-brand-default);
    }
  }
}
