@use '@/scss/underscore' as _;

.overlay {
  background: transparent;
  position: absolute;
}

.notification {
  padding: _.unit(3) _.unit(4);
  font: var(--font-body);
  color: var(--color-text);
  background: var(--color-surface-variant);
  border: _.border(var(--color-border-variant));
  border-radius: var(--radius);
  max-width: 520px;
  margin: 0 auto _.unit(2);
  box-shadow: var(--shadow-1);

  &:focus-visible {
    outline: none;
  }
}

.container {
  @include _.flex_row;
}

.icon {
  color: var(--color-outline);
  width: 20px;
  height: 20px;
  margin-right: _.unit(3);
}

.message {
  flex: 1;
  margin-right: _.unit(3);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

:global(body.mobile) {
  .overlay {
    top: _.unit(6);
    left: _.unit(5);
    right: _.unit(5);
  }
}


:global(body.desktop) {
  .overlay {
    top: _.unit(-6);
    left: 0;
    width: 100%;
    transform: translateY(-100%);
  }

  .link {
    &:hover {
      color: var(--color-primary);
    }
  }
}
