@use '@/scss/underscore' as _;

.modalContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: var(--color-base);

  .content {
    flex: 1;
    overflow: hidden;
    width: 100%;
    padding: _.unit(6);
  }
}
