@use '@/scss/underscore' as _;

.quickStartGuide {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-background);
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    background-color: var(--color-on-primary);
    height: 64px;
    padding: 0 _.unit(21) 0 _.unit(2);

    button {
      margin-left: _.unit(4);
    }

    .separator {
      @include _.vertical-bar;
      height: 20px;
      margin: 0 _.unit(5) 0 _.unit(4);
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: _.unit(6) 0 _.unit(20);
  }

  .card {
    width: 858px;
    padding: _.unit(5) _.unit(6);
    display: flex;
    flex-direction: column;
    scroll-margin: _.unit(5);

    &.selector {
      display: block;

      .title {
        font: var(--font-title-large);
      }

      .subtitle {
        font: var(--font-body-medium);
        color: var(--color-component-text);
        margin-top: _.unit(3);
      }

      .radioGroup {
        margin-top: _.unit(6);
      }

      .radio {
        border-radius: _.unit(2);
        width: 240px;
        max-width: unset;
      }

      &.folded {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 56px;
        background: var(--color-neutral-variant-90);
        border-radius: _.unit(2);
        padding: 0 _.unit(4);
        font: var(--font-body-medium);
        color: var(--color-component-text);

        img {
          margin-right: _.unit(3);
        }
      }
    }

    .cardHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      > svg {
        fill: var(--color-icon);
      }

      .index {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        color: var(--color-primary);
        background: var(--color-surface-5);
        font: var(--font-title-medium);
        margin-right: _.unit(4);

        &.active {
          color: var(--color-on-primary);
          background: var(--color-primary);
        }

        &.completed {
          background: var(--color-primary);

          > svg {
            fill: var(--color-on-primary);
          }
        }
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: _.unit(6);
    }
  }

  .card + .card {
    margin-top: _.unit(6);
  }

  .markdownContent {
    margin-top: _.unit(6);
  }
}
