@use '@/scss/underscore' as _;

.quickStartGuide {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-background);
  height: 100vh;

  .title {
    font: var(--font-title-large);
    color: var(--color-component-text);
  }

  .subtitle {
    font: var(--font-body-1);
    color: var(--color-component-caption);
  }

  .header {
    display: flex;
    align-items: center;
    background-color: var(--color-on-primary);
    height: 80px;
    padding: 0 _.unit(17) 0 _.unit(5);

    .titleWrapper {
      margin-left: _.unit(4);
    }

    button + button {
      margin-left: _.unit(4);
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: _.unit(6) 0 _.unit(20);
  }

  .card {
    width: 858px;
    padding: _.unit(6) _.unit(8);
    display: flex;
    flex-direction: column;
    scroll-margin: _.unit(6);

    &.selector {
      display: block;
      padding: _.unit(8);
      margin-top: _.unit(4);

      .subtitle {
        color: var(--color-component-text);
        margin-top: _.unit(3);
      }

      .radio {
        border-radius: _.unit(2);
        width: 240px;
        max-width: unset;
      }

      &.folded {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 56px;
        background: var(--color-neutral-variant-90);
        border-radius: _.unit(2);
        padding: 0 _.unit(4);
        margin-top: 0;
        font: var(--font-body-2);
        color: var(--color-component-text);

        img {
          margin-right: _.unit(3);
        }
      }
    }

    &.expanded {
      padding: _.unit(8);
    }

    .cardHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      > svg {
        fill: var(--color-icon);
      }

      .index {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        color: var(--color-primary);
        background: var(--color-surface-5);
        font: var(--font-label-large);
        text-align: center;
        margin-right: _.unit(4);

        &.active {
          color: var(--color-on-primary);
          background: var(--color-primary);
        }

        &.completed {
          background: var(--color-primary);

          > svg {
            fill: var(--color-on-primary);
          }
        }
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: _.unit(6);
    }
  }

  .card + .card {
    margin-top: _.unit(6);
  }

  .markdownContent {
    margin-top: _.unit(6);
  }
}
