@use '@/scss/underscore' as _;

.container {
  position: relative;

  > div:not(:last-child) {
    margin-bottom: _.unit(4);
  }
}

.description {
  margin-top: _.unit(1);
  font: var(--font-body-2);
  color: var(--color-text-secondary);
}

.table {
  margin-top: _.unit(4);

  .inlineItem {
    display: inline-flex;
    gap: _.unit(2);
  }
}

.section {
  margin-top: _.unit(6);
}
