@use '@/scss/underscore' as _;

.title {
  font: var(--font-title-1);
}

.sectionTitle {
  font: var(--font-title-2);
}

.description {
  font: var(--font-body-2);
}

.panel {
  flex: 1;
}

.wire {
  transform: translateY(_.unit(15));
  flex-shrink: 0;
}

.vectorTextWrapper {
  fill: var(--color-layer-1);
}

.vectorText {
  fill: var(--color-text-secondary);
}
