@use '@/scss/underscore' as _;

.jitContent {
  margin-top: _.unit(3);
}

.membershipDescription {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin-top: _.unit(1.5);
}

.emailDomains {
  margin-top: _.unit(1);
}

.warning {
  margin-top: _.unit(3);
}
