@use '/src/scss/underscore' as _;

.wrapper {
  padding: _.unit(8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .title {
    font: var(--font-heading-1);
    color: var(--color-heading);
    margin-bottom: _.unit(9);
  }

  .box {
    margin-top: _.unit(3);
    margin-bottom: _.unit(-6);
  }

  > input:not([type='button']) {
    align-self: stretch;
    margin-top: _.unit(3);
  }

  > input[type='button'] {
    margin-top: _.unit(12);
  }
}
