@use '@/scss/underscore' as _;

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 700px;
  outline: none;
  background: var(--color-layer-1);
  padding: _.unit(6);
  overflow-y: auto;

  .headline {
    display: flex;
    justify-content: right;

    > svg {
      cursor: pointer;
    }

    .closeIcon {
      color: var(--color-icon);
    }
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 40%);
  inset: 0;
}

/* stylelint-disable selector-class-pattern */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .ReactModal__Content[role='drawer'] {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .ReactModal__Content--after-open[role='drawer'] {
    transform: translateX(0);
  }

  .ReactModal__Content--before-close[role='drawer'] {
    transform: translateX(100%);
  }
}

/* stylelint-enable selector-class-pattern */
