@use '@/scss/underscore' as _;

.content {
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  outline: none;
  background: var(--color-layer-1);
  padding: _.unit(6);
  overflow-y: auto;

  .headline {
    display: flex;
    justify-content: right;

    > svg {
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 40%);
  inset: 0;
}
