@use '@/scss/underscore' as _;

.radioGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 0 _.unit(-8) _.unit(-8) 0;

  > .radio {
    position: relative;
    flex: 1;
    min-width: 180px;
    max-width: 220px;
    padding: _.unit(5);
    display: flex;
    flex-direction: column;
    border-radius: _.unit(4);
    border: 1px solid var(--color-neutral-90);
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    margin: 0 _.unit(8) _.unit(8) 0;

    &:focus,
    &:hover {
      border-color: var(--color-primary);
    }

    svg {
      opacity: 0%;
      position: absolute;
      right: _.unit(5);
      top: _.unit(5);
    }

    &.checked {
      border-color: var(--color-primary);
      outline: 1px solid var(--color-primary);

      svg {
        opacity: 100%;
      }
    }

    .headline {
      flex: 1;
      display: flex;
      justify-content: space-between;

      &.center {
        align-items: center;
      }

      > *:not(:first-child) {
        margin-left: _.unit(3);
      }
    }

    .title {
      font: var(--font-subhead-2);
      color: var(--color-component-text);
    }

    input[type='radio'] {
      appearance: none;
      position: absolute;
      margin: 0;
      width: 0;
      height: 0;
    }
  }
}
