@use '@/scss/underscore' as _;

.radioGroup {
  display: flex;

  &:not(:first-child) {
    margin-top: _.unit(3);
  }

  svg {
    opacity: 0%;
  }


  > .radio {
    position: relative;
    flex: 1;
    min-width: 220px;
    padding: _.unit(5);
    display: flex;
    flex-direction: column;
    border-radius: _.unit(4);
    border: 1px solid var(--color-neutral-90);
    outline: none;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: _.unit(6);
    }

    &.checked {
      border-color: var(--color-primary);
      outline: 1px solid var(--color-primary);

      svg {
        opacity: 100%;
      }
    }

    .headline {
      flex: 1;
      display: flex;
      justify-content: space-between;

      &.center {
        align-items: center;
      }

      > *:not(:first-child) {
        margin-left: _.unit(3);
      }
    }

    .title {
      font: var(--font-heading);
      color: var(--color-component-text);
    }

    input[type='radio'] {
      appearance: none;
      position: absolute;
      margin: 0;
      width: 0;
      height: 0;
    }
  }
}
