@use '@/scss/underscore' as _;

.item {
  padding: _.unit(1.5) _.unit(2);
  border-radius: var(--radius);
  list-style: none;
  font: var(--font-body-2);
  color: var(--color-type-primary);
  cursor: pointer;
  @include _.flex-row;
  overflow: hidden;

  &:hover {
    background: var(--color-overlay-neutral-hover);
  }
}
