@use '@/scss/underscore' as _;

.container {
  display: flex;
  align-items: center;
  gap: _.unit(2);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag {
  flex-shrink: 0;
}
