@use '@/scss/underscore' as _;

.container {
  display: flex;
  align-items: center;
  gap: _.unit(2);
}

.link {
  max-width: 100%;
  overflow: hidden;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  flex-shrink: 0;
}

.tag {
  flex-shrink: 0;
}
