@use '@experience/shared/scss/underscore' as _;

.header {
  display: flex;
  align-items: center;
  gap: _.unit(4);

  .logo {
    width: auto;
  }

  .splitter {
    height: 16px;
    width: 1px;
    background-color: var(--color-border);
  }

  .title {
    color: var(--color-text-strong);
  }
}

:global(body.mobile) {
  .header {
    padding: _.unit(2.5) _.unit(3);
    min-height: _.unit(11);

    .logo {
      max-height: _.unit(5);
    }

    .splitter {
      height: 12px;
    }

    .title {
      font: var(--font-title-3);
    }
  }
}

:global(body.desktop) {
  .header {
    padding: _.unit(4) _.unit(6);
    min-height: _.unit(16);

    .logo {
      max-height: _.unit(10);
    }

    .title {
      font: var(--font-title-1);
    }
  }
}
