@use '@/scss/underscore' as _;

.pageContainer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable {
  flex: 1;
  min-height: 0;
  width: 100%;
}

.wrapper {
  @include _.main-content-width;
  height: 100%;
  width: 100%;
  padding: _.unit(3) _.unit(6) 0;
}
