@use '@/scss/underscore' as _;

.wrapper {
  @include _.full-page;
  @include _.flex-column;
  justify-content: flex-start;

  .header {
    margin-top: _.unit(30);
  }

  .content {
    margin-top: _.unit(24);
    @include _.text-hint;
  }
}
