@use '@/scss/underscore' as _;

.step {
  .header {
    display: flex;

    .status {
      flex-shrink: 0;
    }

    .title {
      flex: 1;
      font: var(--font-label-2);
      margin-left: _.unit(5);
    }
  }

  .contentContainer {
    position: relative;
    padding: _.unit(3) 0 _.unit(6) _.unit(10);

    .dashLine {
      content: '';
      position: absolute;
      display: block;
      border-left: 1px dashed var(--color-divider);
      top: _.unit(1);
      bottom: _.unit(1);
      transform: translateX(_.unit(-7.5));
    }
  }
}
