name: Integration Test

on:
  push:
    branches:
      - master
      - "push-action/**"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  package:
    runs-on: buildjet-4vcpu-ubuntu-2204
    env:
      INTEGRATION_TEST: true

    steps:
      - uses: silverhand-io/actions-package-logto-artifact@v1.0.0_beta.1
        with:
          artifact-name: integration-test-${{ github.sha }}

  run-logto:
    strategy:
      fail-fast: false
      matrix:
        target: [api, experience, console]
    needs: package
    runs-on: ubuntu-latest

    steps:
      - uses: silverhand-io/actions-run-logto-integration-tests@v1.0.0_beta.1
        with:
          logto_artifact: integration-test-${{ github.sha }}
          test-target: ${{ matrix.target }}
