name: Main

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node and pnpm
        uses: logto-io/actions-node-pnpm-run-steps@v1.0.2

      - name: Build
        run: pnpm -- lerna run --stream build

      - name: Lint
        run: pnpm -- lerna run --parallel lint

      - name: Test
        run: pnpm -- lerna run --parallel test

      - name: Coverage Report
        run: pnpm -- lerna run --parallel test:report
