body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--color-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-underline-offset: 2px;
}

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-variant-80);
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
