@use '@/scss/underscore' as _;

.form {
  width: 100%;
  max-width: 360px;
  @include _.flex-column;

  > * {
    width: 100%;
  }

  .field {
    margin-bottom: _.unit(8);

    &.withError {
      margin-bottom: _.unit(2);
    }
  }

  .message {
    > span {
      color: var(--color-primary);
    }
  }
}
