@use '@/scss/underscore' as _;

.wrapper {
  position: relative;
  padding: _.unit(8) _.unit(5);
  @include _.flex-column;

  .header {
    margin-bottom: _.unit(12);
  }

  .terms {
    margin-bottom: _.unit(4);
  }

  .divider {
    margin-top: _.unit(4);
  }

  .primarySignIn {
    margin-bottom: _.unit(5);
  }

  .primarySocial {
    margin-bottom: _.unit(4);
  }

  .otherMethodsLink {
    margin-top: _.unit(1);
  }

  .createAccount {
    position: fixed;
    bottom: _.unit(12);
  }
}
