@use '@/scss/underscore' as _;

.wrapper {
  @include _.page-wrapper;

  .header {
    margin: _.unit(8);
    margin-bottom: _.unit(12);
  }

  .terms {
    margin-bottom: _.unit(4);
  }

  .divider {
    @include _.container-width;
  }

  .primarySignIn {
    margin-bottom: _.unit(5);
  }

  .primarySocial {
    margin-bottom: _.unit(4);
  }

  .otherMethodsLink {
    margin-bottom: _.unit(1);
  }

  .createAccount {
    margin-top: _.unit(8);
  }

  .placeHolder {
    flex: 1;
  }
}
