@use '@/scss/underscore' as _;

.wrapper {
  position: relative;
  padding: _.unit(8) _.unit(5);
  min-height: 100vh;
  @include _.flex-column;
  justify-content: flex-start;

  .header {
    margin: _.unit(8);
    margin-bottom: _.unit(12);
  }

  .terms {
    margin-bottom: _.unit(4);
  }

  .divider {
    @include _.mobile-container-width;
  }

  .primarySignIn {
    margin-bottom: _.unit(5);
  }

  .primarySocial {
    margin-bottom: _.unit(4);
  }

  .otherMethodsLink {
    margin-bottom: _.unit(1);
  }

  .createAccount {
    position: absolute;
    bottom: _.unit(12);
  }
}
